section.hero.hero--lp-2
  .container
    .row
      .col-lg-7
        .hero__content
          h1.hero__title Диспоузеры ROKKER <br>за <span>28 000 руб.</span> + доставим сегодня <span>и установим за 30 мин. - бесплатно.</span>
          p Интеллектуальные технологии работы на вашей кухне

      .col-lg-5.col-xl-4.offset-xl-1
        form.ajax-form.hero__form
          input(type="hidden", name="subject", value="Заявка на консультацию")
          .hero__form-content
            h3 Выбираете измельчитель пищевых отходов?
            p Получите подробную консультацию специалиста прямо сейчас
            a(href="tel:+74951203480") +7 (495) 120-34-80
          .form-group
            input(type="text", name="name", placeholder="Ваше имя", required).form-field
          .form-group
            input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
          .form-group.form-group--btn
            input(type="submit", value="Заказать звонок").btn