section.news-article
  .container
    .row
      .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
        .news-article__top
          p.news-article__cat Cоветы и подсказки
          time(datetime="2019-05-16").news-article__publish 16.05.2019

        h2.section-title Безопасность измельчителя для человека: мифы и реальность
        figure
          img(src="static/images/content/news-article.jpg", alt="")

        .content-block
          p Измельчитель бытовых отходов (или диспоузер) - это прибор, монтируемый под кухонную мойку. Он перемалывает любые остатки пищи: яичную скорлупу, макароны, хлебные корки, кости, шкурки овощей и фруктов, окурки. Незаметный и полезный прибор позволяет поддерживать гигиену на кухне и избавляет от неприятных запахов, которые появляются при скапливании остатков пищи в мусорном ведре. На официальном сайте InSinkErator представлены различные модели измельчителей, предназначенные для промышленного и домашнего использования.
          h3 Распространенные мифы
          .bd-l
            p Многие думают, что прибор представляет опасность для человека или ребенка, который может засунуть в него руку. Чтобы разобраться в этом вопросе, стоит ознакомиться с принципом работы измельчителя. Прибор состоит из достаточно глубокой камеры, на дне которой расположен металлический диск, вращающийся с большой скоростью. На нем есть особенные кулачки, дробящие твердые остатки пищи. Центробежная сила распределяет отходы по стенкам камеры, на которых они измельчаются при помощи самозатачивающихся терок.
            p Таким образом, мнение о том, что прибор представляет опасность - это не более чем миф, так как в нем нет острых ножей и других режущих элементов, а диск с кулачками и терками находятся глубоко внутри прибора. Существуют и другие мифы, связанные с использованием измельчителя:
            p При работе прибора сильно увеличивается расход воды и электроэнергии. На самом деле для функционирования измельчителя нужно совсем немного жидкости: общий расход воды увеличится лишь на три литра в день на одного человека. А потребление электроэнергии в месяц сравнимо с использованием лампочки на 100 ватт в течение часа.
            p Измельчитель быстро засоряет канализацию. Еще один распространенный миф, который в корне неверен. Прибор очень мелко перемалывает отходы и смывает их постепенно. Засорение канализации при работе данного устройства невозможно.
            p Прибор ненадежен и имеет короткий срок службы. На самом деле производитель предоставляет гарантию на приборы от 1 до 8 лет (зависит от конкретной модели). Но на практике приборы ломаются крайне редко, и некоторые из них служат без проблем до 25 лет.