section(style="background-image: url(static/images/content/hero-2.jpg)").hero.hero--page
  .container
    .hero__content
      h1.hero__title #{title}
      if heroText
        p !{heroText}
      else
        p Технологии Standard упрощают нашу повседневную жизнь: <br>мы предлагаем как известные на рынке бренды, так и диспоузеры под собственной торговой маркой