section.install
  .container
    .install__row
      .install__img-wrap
        img(src="static/images/content/install-1.jpg", alt="")
      .install__content
        h3 Авторизованный Сервисный Центр Standard выполняет следующие виды работ:
        ul
          li Монтаж (демонтаж) диспоузеров пищевых отходов In Sink Erator (демонтаж любых производителей);
          li Ремонт,  диагностика и профилактическое обслуживание изделий компании InSinkErator™
          li Гарантийный и иные виды ремонта, требующие вскрытия оборудования InSinkErator™, производится исключительно в сервисном центре. 

    .row.install__row-2
      .col-lg-6
        h4 А так же:
        .bd-l
          p В случае гарантийного ремонта необходимые узлы и агрегаты     заменяются на   новые - бесплатно. При этом стоимость работ по замене деталей, производится на платной основе). Все заменяемые узлы и детали переходят в собственность АСЦ. 
          p Вид ремонта (гарантийный или нет) определяется на основании заключения сервисного центра.
          p Расширение отверстия в кухонной мойке из нержавеющей стали (развальцовка);
          p Выезд к Заказчику для проведения монтажных работ (на платной основе); 
          p Экстренный выезд (ремонт) в день обращения ( наценка за срочность 100%), при наличии технической возможности; ремонт измельчителей пищевых отходов, установка измельчителей пищевых отходов
          p Монтаж систем Аква Хот 98
          p Экспертиза оборудования производится на платной основе.
          p Самый большой выбор основных запасных частей и аксессуаров.
      .col-lg-6
        .install__img-wrap-2
          img(src="static/images/content/install-2.jpg", alt="")