section.install
  .container
    .install__row
      .install__img-wrap
        img(src="static/images/content/install-1.jpg", alt="")
      .install__content
        h3 Авторизованный Сервисный Центр Standard выполняет следующие виды работ:
        ul
          li Монтаж (демонтаж) диспоузеров пищевых отходов In Sink Erator (демонтаж любых производителей);
          li Ремонт,  диагностика и профилактическое обслуживание изделий компании InSinkErator™
          li Гарантийный и иные виды ремонта, требующие вскрытия оборудования InSinkErator™, производится исключительно в сервисном центре.

    .install__row
      .install__content
        h3 Авторизованный Сервисный Центр Standard выполняет следующие виды работ:
        ul
          li Монтаж (демонтаж) диспоузеров пищевых отходов In Sink Erator (демонтаж любых производителей);
          li Ремонт,  диагностика и профилактическое обслуживание изделий компании InSinkErator™
          li Гарантийный и иные виды ремонта, требующие вскрытия оборудования InSinkErator™, производится исключительно в сервисном центре.
      .install__img-wrap
        img(src="static/images/content/install-3.jpg", alt="")

    .install__row
      .install__img-wrap
        img(src="static/images/content/install-4.jpg", alt="")
      .install__content
        h3 Авторизованный Сервисный Центр Standard выполняет следующие виды работ:
        ul
          li Монтаж (демонтаж) диспоузеров пищевых отходов In Sink Erator (демонтаж любых производителей);
          li Ремонт,  диагностика и профилактическое обслуживание изделий компании InSinkErator™
          li Гарантийный и иные виды ремонта, требующие вскрытия оборудования InSinkErator™, производится исключительно в сервисном центре.

    .install__row
      .install__content
        h3 Авторизованный Сервисный Центр Standard выполняет следующие виды работ:
        ul
          li Монтаж (демонтаж) диспоузеров пищевых отходов In Sink Erator (демонтаж любых производителей);
          li Ремонт,  диагностика и профилактическое обслуживание изделий компании InSinkErator™
          li Гарантийный и иные виды ремонта, требующие вскрытия оборудования InSinkErator™, производится исключительно в сервисном центре.
      .install__img-wrap
        img(src="static/images/content/install-5.jpg", alt="")

    .row.install__row-2.align-items-center
      .col-lg-6
        .text-center
          a(href="#", target="_blank").btn-flat.btn-flat--black Скачать инструкцию
      .col-lg-6
        .install__img-wrap-2
          img(src="static/images/content/install-2.jpg", alt="")