section.s-faq
  .container
    h2.section-title Часто задаваемые вопросы

    .row
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-2.jpg", alt="")
          h3.faq-card__title Что будет если он сломается?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Что будет если он сломается?
              p Наш мастер приедет к вам лично, вам не нужно никуда везти диспоузер. И даже до приезда мастера вы можете свободно пользоваться раковиной, диспоузер в нерабочем состоянии выполняет роль сифона.
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-2.jpg", alt="")
          h3.faq-card__title Не засорится ли у меня канализация?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Не засорится ли у меня канализация?
              p Нет, диспоузер измельчает пищу до частиц диаметром 1 мм, такие частицы гораздо меньше чем любые остатки пищи, неизбежно попадающие в сток во время мытья тарелок.
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-3.jpg", alt="")
          h3.faq-card__title Это безопасно для детей?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Это безопасно для детей?
              p Как и любой бытовой прибор, измельчитель может быть опасен для детей и взрослых. Но мы прилагаем все усилия для максимальной безопасности: между рабочей областью и краем мойки более 10 см, есть резиновая прокладка. Ну а для большего спокойствия вы можете заказать кнопку ДУ и повесить ее в то место куда ребенок не дотянется.
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-4.jpg", alt="")
          h3.faq-card__title  Наверное, устанавливать измельчитель очень сложно?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3  Наверное, устанавливать измельчитель очень сложно?
              p Нет, установка измельчителя  занимает не более 25-30 мин и выполняется квалифицированными специалистами компании. При должной сноровке и опыте работы с сантехникой установить диспоузер можно и самостоятельно.
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/blog-2.jpg", alt="")
          h3.faq-card__title Нужна ли какая-то специальная раковина?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Нужна ли какая-то специальная раковина?
              p Нет, не требуется. Все модели измельчителей Standard Home имеют в комплекте набор муфт и переходников для всех типов кухонных раковин. Единственное требование – диаметр сливного отверстия должен быть 90 мм, а не 60 мм как на старых мойках (если отверстие в мойке больше чем в раковине ванной комнаты – то такая мойка подойдет).
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-5.jpg", alt="")
          h3.faq-card__title Что делать если у меня частный дом или дача?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Что делать если у меня частный дом или дача?
              p Устанавливать измельчитель! Он работает как с обычным водопроводом, так и с септиками.
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-5.jpg", alt="")
          h3.faq-card__title Сильно ли увеличится расход воды и электричества?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Сильно ли увеличится расход воды и электричества?
              p Средний расход воды составляет не более 3-х литров в день, что увеличивает потребление воды в семье лишь на 0,5%.
              p Измельчитель мощностью 0,75 л/с потребляет в месяц столько же сколько 100-ваттная лампочка потребляет за 1 час.
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-5.jpg", alt="")
          h3.faq-card__title За ним нужен какой-то специальный уход?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 За ним нужен какой-то специальный уход?
              p Нет. Достаточно раз в полгода кидать внутрь измельчаться половинку лимона.
            //- a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-5.jpg", alt="")
          h3.faq-card__title Могут ли потребоваться специальные разрешения для установки?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Могут ли потребоваться специальные разрешения для установки?
              p Нет, никаких дополнительных согласований не требуется. Покупка и эксплуатация диспоузера ничем не отличается от установки фильтра для воды в раковину.
            //- a(href="#").faq-card__link Подробнее

    hr.line