section.s-faq
  .container
    h2.section-title Часто задаваемые вопросы

    .row
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-2.jpg", alt="")
          h3.faq-card__title Что такое комплаенс?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Что такое комплаенс?
              p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям
            a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-2.jpg", alt="")
          h3.faq-card__title Что делать, если нарушено какое-либо требование комплаенс?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Что делать, если нарушено какое-либо требование комплаенс?
              p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям
              p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям
            a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-3.jpg", alt="")
          h3.faq-card__title Кто может сообщать о нарушениях требований комплаенс?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Кто может сообщать о нарушениях требований комплаенс?
              p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям
            a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-4.jpg", alt="")
          h3.faq-card__title Что делать, если нарушено какое-либо требование комплаенс?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Что делать, если нарушено какое-либо требование комплаенс?
              p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям
            a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/blog-2.jpg", alt="")
          h3.faq-card__title Что делать, если нарушено какое-либо требование комплаенс?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Что делать, если нарушено какое-либо требование комплаенс?
              p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям
            a(href="#").faq-card__link Подробнее
      .col-xl-4.col-md-6
        .faq-card
          img(src="static/images/content/faq-card-5.jpg", alt="")
          h3.faq-card__title Что делать, если нарушено какое-либо требование комплаенс?
          .faq-card__body
            .faq-card__content(data-simplebar)
              h3 Что делать, если нарушено какое-либо требование комплаенс?
              p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям
            a(href="#").faq-card__link Подробнее

    hr.line