section.work
  .container
    h2.section-title Как происходит установка и монтаж измельчителя пищевых отходов?

    ul.work-list
      li
        img(src="static/images/content/work-1.jpg", width="230", height="300", alt="work-1")
        .work-list__number 1
        h3 Монтаж диспоузера к мойке
        p Демонтируется сливная система (или старый диспоузер). Диспоузер надежно монтируется к раковине  на месте сливной системы с помощью специальных зажимов, без сверления.
      li
        img(src="static/images/content/work-2.jpg", width="230", height="300", alt="work-2")
        .work-list__number 2
        h3 Подключение диспоузера  к канализации и электрической розетке
        p В комплекте к диспоузеру прилагается сливная система, которая подключается к канализации. Также можно подключить стиральную машину (посудомоечную или фильтр для воды). Диспоузер подключается к розетки.
        p Наши специалисты могут провести розетку к мойке, если она отсутствует.
      li
        img(src="static/images/content/work-3.jpg", width="230", height="300", alt="work-3")
        .work-list__number 3
        h3 Установка пневмокнопки для управления диспоузером
        p Управеление диспоузером осуществляется с помощью пневмокнопки. Отверстие для пневмокнопки производят на поверхности  мойки либо в столешнице по желанию клиента.