section.s-advantages.s-advantages--bg
  .container
    h2.section-title Сделай свою кухню ультрасовременной

    .advantages-list-media
      .advantages-list-media__item
        .advantages-list-media__col
          .advantages-list-media__content
            h3.advantages-list-media__title Тренд на экологичность
            p Установка измельчителя Standard Home занимает <br>не более 25-30 мин
        .advantages-list-media__col
          .advantages-list-media__img-wrap
            img(src="static/images/content/advantages-media-1.jpg", alt="")
      .advantages-list-media__item
        .advantages-list-media__col
          .advantages-list-media__content
            h3.advantages-list-media__title Умный дом - технолгичность
            p Установка измельчителя Standard Home занимает <br>не более 25-30 мин
        .advantages-list-media__col
          .advantages-list-media__img-wrap
            img(src="static/images/content/advantages-media-2.jpg", alt="")
      .advantages-list-media__item
        .advantages-list-media__col
          .advantages-list-media__content
            h3.advantages-list-media__title Скорость и удобство
            p Установка измельчителя Standard Home занимает <br>не более 25-30 мин
        .advantages-list-media__col
          .advantages-list-media__img-wrap
            img(src="static/images/content/advantages-media-3.jpg", alt="")