section(style="background-image: url(static/images/content/hero-2.jpg)").hero.hero--main
  .container
    .hero__content.text-center
      h1.hero__title Измельчители пищевых отходов <br>Stabdard Home <span>за 15 900 руб.</span>
      p + доставим сегодня и <span>установим за 30 мин. - бесплатно.</span>
      a(href="#").btn Посмотреть полное предложение