section.p50
  .container
    .row
      .col-lg-6
        .info-card
          .info-card__content.info-card__content--bg-gray
            h3.info-card__title Большие возможности
            p Haier предоставляет своим сотрудникам прекрасные возможности для профессионального развития и карьерного роста, отличные условия труда и конкурентоспособное вознаграждение.
            a(href="#").btn-flat Читать все
          .info-card__img-wrap
            img(src="static/images/content/info-card-1.jpg", alt="")
      .col-lg-6
        .info-card
          .info-card__content
            h3.info-card__title Кто может стать дилером?
            p Нашим дилером может стать любой участник рынка систем водоочистки и водоподготовки, насосного оборудования – организация или частный предприниматель, осуществляющие регулярные закупки оборудования в компании INSINKERATOR.
            a(href="#").btn-flat.btn-flat--white Читать все
      .col-lg-12
        .info-card
          .info-card__img-wrap
            img(src="static/images/content/info-card-2.jpg", alt="")
          .info-card__content
            h3.info-card__title Информационная поддержка и консультации
            p Владение актуальной информацией о товаре, его цене и наличии с помощью наших опытных и квалифицированных специалистов.
            a(href="#").btn-flat.btn-flat--white Читать все
          .info-card__img-wrap
            img(src="static/images/content/info-card-3.jpg", alt="")