section.numbers
  .container
    h2.section-title Преимущества и технологии

    .row
      .col-lg-4
        .count
          b.count__number 3 000
          span.count__label клиентов
          p Более 3 000 клиентов
      .col-lg-4
        .count
          b.count__number 3 000
          span.count__label партнеров
          p 50 парнеров по россии
      .col-lg-4
        .count
          b.count__number 1 570 000
          span.count__label отходов
          p 1 570 000 биалогических отходов тонн пеработано за 2019 (не попали на свалку)