section.product-for
  .container
    .row
      .col-lg-7
        h2.section-title Для дома
        .row
          .col-md-6
            .product-for__item
              img(src="static/images/content/standart-home.png", alt="")
              a(href="#").product-for__link Standard home
                +icon('arrow-right', 'product-for__link-icon')
          .col-md-6
            .product-for__item
              img(src="static/images/content/rokker.png", alt="")
              a(href="#").product-for__link Rokker
                +icon('arrow-right', 'product-for__link-icon')

      .col-lg-5
        h2.section-title Для бизнеса
        .product-for__item
          img(src="static/images/content/offer.jpg", alt="")
          a(href="#").product-for__link Kitchen crush
            +icon('arrow-right', 'product-for__link-icon')