.services-card-list
  .services-card-list__item
    img(src="static/images/content/services-icon-1.svg", alt="")
    h3.services-card-list__title Доставляем
    p Идеальное сочетание инженерных и дизайнерских решений является залогом того, что разрабатываемые Zanussi продукты опережают время. 
    a(href="delivery.html").services-card-list__link Подробнее
  .services-card-list__item
    img(src="static/images/content/services-icon-2.svg", alt="")
    h3.services-card-list__title Устанавливаем
    p Компания Хайер рада сообщить своим белорусским покупателем
    a(href="install.html").services-card-list__link Подробнее
  .services-card-list__item
    img(src="static/images/content/services-icon-3.svg", alt="")
    h3.services-card-list__title Обсулуживаем
    p Идеальное сочетание инженерных и дизайнерских решений является залогом того, что разрабатываемые Zanussi продукты опережают время. 
    a(href="warranty.html").services-card-list__link Подробнее
  .services-card-list__item
    img(src="static/images/content/services-icon-4.svg", alt="")
    h3.services-card-list__title Ремонтируем
    p Компания Хайер рада сообщить своим белорусским покупателем
    a(href="service-centers.html").services-card-list__link Подробнее