section.vacancy
  .container
    .section-head
      h2.section-title Карьера
      p Отправьте ваше резюме на <a href="mailto:job@standard-home.ru">job@standard-home.ru</a> чтобы стать частью нашей команды

    .vacancy__wrap
      .row
        .col-md-6
          .vacancy__item
            .vacancy__icon-wrap
              img(src="static/images/content/search-vacancy.svg", alt="")
            h3.vacancy__title Стажер в отдел импорта

            a(href="#").btn-flat.btn-flat--black Подробнее

            .vacancy__content(data-simplebar)
              button(type="button").vacancy__content-close.btn-close
              h4 Уровень з\п
              ul
                li Неоплачиваемая стажировка

              h4 Опыт
              ul
                li Без опыта

              h4 Город
              ul
                li Москва

              h4 Обязанности:
              ul
                li Ведение проектов по международным оптовым поставкам
                li Взаимодействие с зарубежными поставщиками из Китая и Европы: переписка, телефонное общение в случае необходимости
                li Выполнение творческих заданий: придумывать рассылку для клиентов, формировать новости для сайта и т.д.
                li Внесение предложений по улучшению работы компании и воплощение их в жизнь

              h4 Требования:
              ul
                li Образование и опыт работы непринципиальны. Важнее личные качества
                li Активная жизненная позиция: членство в молодежных организациях (AIESEC, BEST, Клуб парламентских дебатов и т.д.), посещение молодежных форумов, участие в студенческих инициативах
                li Открытость к новым знаниям, к применению новых инструментов работы
                li Креативность, способность решать нестандартные ситуации
                li Свободный английский язык 
                li Китайский язык приветствуется

              h4 Мы предлагаем:
              ul
                li Стажировка в течение 3-х месяцев с возможностью дальнейшего трудоустройства в штат компании
                li Работа в центре города, с 360-градусным панорамным обзором на всю Москву с 22 этажа Сталинской высотки
                li График работы гибкий, количество часов по договоренности
                li Оформление согласно ТК РФ
                li Компенсация проезда, мобильной связи, питания, денежные премии по итогам прохождения стажировки
                li Возможны командировки в Китай, Гонконг, Испанию после прохождения стажировки
                li Обучение, развитие, личные консультации, куча полезных контактов, бизнес практика.

        .col-md-6
          .vacancy__item.vacancy__item--green
            .vacancy__icon-wrap
              img(src="static/images/content/search-vacancy.svg", alt="")
            h3.vacancy__title Менеджер по продажам
            a(href="#").btn-flat.btn-flat--black Подробнее

            .vacancy__content(data-simplebar)
              button(type="button").vacancy__content-close.btn-close

              h4 Уровень з\п
              ul
                li 70 000-100 000 р.

              h4 Опыт
              ul
                li 3-5 лет

              h4 Город
              ul
                li Москва

              h4 Обязанности:
              ul
                li Прием звонков от потенциальных клиентов
                li Организация выполнения доставки и установки диспоузеров
                li Ведение базы данных клиентов
                li Ведение документооборота (договора, формирование графика платежей и т.д.) 
                li Коммуникация со складом и обеспечение бесперебойной работы службы доставки
                li Внесение и реализация предложений по оптимизации продаж

              h4 Требования:
              ul
                li Опыт работы в сфере продаж: не менее 3 лет
                li Знание документооборота в 1С
                li Наличие сертификатов о прохождении курсов продаж приветствуется
                li Умение найти общий язык с клиентом и решить конфликтную ситуацию
                li Английский язык желателен
                li Наличие законченного высшего образования

              h4 Мы предлагаем:
              ul
                li Оформление согласно ТК РФ
                li Испытательный срок 3 мес.
                li Компенсация мобильной связи
                li Заработная плата по результатам собеседования. Выплата производится 2 раза в месяц
                li График работы 5/2 с 9.00 до 18.00, либо с 8.00 до 17.00
                li Работа в центре города, с 360-градусным панорамным обзором на всю Москву с 22 этажа Сталинской высотки


  //-   #contact-map.vacancy__map

  //- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  //- script.
  //-   ymaps.ready(init);

  //-   var myMap, myPlacemark,
  //-     coords = [55.748513, 37.627229];

  //-   function init() {
  //-     myMap = new ymaps.Map('contact-map', {
  //-       center: coords,
  //-       zoom: 17
  //-     });

  //-     myPlacemark = new ymaps.Placemark(coords, {}, {
  //-       preset: 'islands#circleDotIcon',
  //-       iconColor: '#fe3334'
  //-     });

  //-     myMap.geoObjects.add(myPlacemark);

  //-   }