.s-order-advantages
  .s-order-advantages__item
    h3.s-order-advantages__title Бесплатный сервис <br>у вас дома
    p Наш мастер приедет к вам домой при любых проблемах с диспоузером
  .s-order-advantages__item
    h3.s-order-advantages__title Установка <br>за 30 минут
    p Наш квалифицированный мастер сделает работу и уберет за собой
  .s-order-advantages__item
    h3.s-order-advantages__title Работаем <br>с любими мойками
    p Мы поставим диспоузер на каменную, стальную или керамическую раковину
  .s-order-advantages__item
    h3.s-order-advantages__title Доставим <br>в течении часа
    p У нас большой штат мастеров, и мы готовы выехать прямо сейчас