section
  .container
    .row
      .col-md-6.col-lg-4
        .box-card
          img(src="static/images/content/box-card-1.jpg", alt="")
          h3.box-card__title Заголовок
          p Специально разработанная технология двойного измельчения позволяет забыть об услугах сантехника навсегда
      .col-md-6.col-lg-4
        .box-card
          img(src="static/images/content/box-card-2.jpg", alt="")
          h3.box-card__title Заголовок
          p Специально разработанная технология двойного измельчения позволяет забыть об услугах сантехника навсегда
      .col-md-6.col-lg-4
        .box-card
          img(src="static/images/content/box-card-3.jpg", alt="")
          h3.box-card__title Заголовок
          p Специально разработанная технология двойного измельчения позволяет забыть об услугах сантехника навсегда