section.problem
  .container
    h2.section-title Мы знаем что вас беспокоит

    .problem-list
      .problem-list__item.problem-list__item--100.problem-list__item--img
        img(src="static/images/content/problem-1.jpg", alt="")
        h3.problem-list__title Что будет если он сломается?
        .problem-list__content(data-simplebar)
          h3 Что будет если он сломается?
          p Наш мастер приедет к вам лично, вам не нужно никуда везти диспоузер. И даже до приезда мастера вы можете свободно пользоваться раковиной, диспоузер в нерабочем состоянии выполняет роль сифона
      .problem-list__item.problem-list__item--50
        h3.problem-list__title Не засорится ли у меня канализация?
        .problem-list__content(data-simplebar)
          h3 Не засорится ли у меня канализация?
          p Нет, диспоузер измельчает пищу до частиц диаметром 1 мм, такие частицы гораздо меньше чем любые остатки пищи, неизбежно попадающие в сток во время мытья тарелок
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-3.jpg", alt="")
        h3.problem-list__title Это безопасно для детей?
        .problem-list__content(data-simplebar)
          h3 Это безопасно для детей?
          p Как и любой бытовой прибор, измельчитель может быть опасен для детей и взрослых. Но мы прилагаем все усилия для максимальной безопасности: между рабочей областью и краем мойки более 10 см, есть резиновая прокладка. Ну а для большего спокойствия вы можете заказать кнопку ДУ и повесить ее в то место куда ребенок не дотянется
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-5.jpg", alt="")
        h3.problem-list__title Наверное, устанавливать измельчитель очень сложно?
        .problem-list__content(data-simplebar)
          h3 Наверное, устанавливать измельчитель очень сложно?
          p Нет, установка измельчителя  занимает не более 25-30 мин и выполняется квалифицированными специалистами компании. При должной сноровке и опыте работы с сантехникой установить диспоузер можно и самостоятельно
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-4.jpg", alt="")
        h3.problem-list__title Нужна ли какая-то специальная раковина?
        .problem-list__content(data-simplebar)
          h3 Нужна ли какая-то специальная раковина?
          p Нет, не требуется. Все модели измельчителей Standard Home имеют в комплекте набор муфт и переходников для всех типов кухонных раковин. Единственное требование – диаметр сливного отверстия должен быть 90 мм, а не 60 мм как на старых мойках (если отверстие в мойке больше чем в раковине ванной комнаты – то такая мойка подойдет)
      .problem-list__item
        h3.problem-list__title Что делать если у меня частный дом или дача?
        .problem-list__content(data-simplebar)
          h3 Что делать если у меня частный дом или дача?
          p Устанавливать измельчитель! Он работает как с обычным водопроводом, так и с септиками.
      .problem-list__item.problem-list__item--50.problem-list__item--img
        img(src="static/images/content/problem-2.jpg", alt="")
        h3.problem-list__title Сильно ли увеличится расход воды и электричества?
        .problem-list__content(data-simplebar)
          h3 Сильно ли увеличится расход воды и электричества?
          p Средний расход воды составляет не более 3-х литров в день, что увеличивает потребление воды в семье лишь на 0,5%. Измельчитель мощностью 0,75 л/с потребляет в месяц столько же сколько 100-ваттная лампочка потребляет за 1 час
      .problem-list__item
        h3.problem-list__title За ним нужен какой-то специальный уход?
        .problem-list__content(data-simplebar)
          h3 За ним нужен какой-то специальный уход?
          p Нет. Достаточно раз в полгода кидать внутрь измельчаться половинку лимона
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-6.jpg", alt="")
        h3.problem-list__title Могут ли потребоваться специальные разрешения для установки?
        .problem-list__content(data-simplebar)
          h3 Могут ли потребоваться специальные разрешения для установки?
          p Нет, никаких дополнительных согласований не требуется. Покупка и эксплуатация диспоузера ничем не отличается от установки фильтра для воды в раковину