section.news
  .container
    h2.section-title Наши новости

    .row
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card