@import 'logo'
@import 'phone'
@import 'small-contact'
@import 'header-search'
@import 'video'
@import 'price'
@import 'social'

.btn-close
  position: relative
  background: none
  border: 0
  padding: 0
  width: 30px
  height: 30px
  &:focus
    outline: none
  &::after, &::before
    content: ''
    position: absolute
    left: 0
    display: block
    height: 2px
    width: 100%
    background: #fff
    +trans
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)

.section-title
  margin-bottom: 65px
  text-align: center
  +r(767)
    margin-bottom: 40px

.section-head
  margin-bottom: 45px
  text-align: center
  .section-title
    margin-bottom: 20px

.text-center
  text-align: center