section.product-gallery
  .container
    h2.section-title Фотогалерея

    .product-gallery-slider.swiper-container
      .swiper-wrapper
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-1-370-290.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-1-370-290.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-2-370-290.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-2-370-290.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-3-370-290.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-3-370-290.jpg", alt="")
    .swiper-btns
      .swiper-button-prev
        +icon('arrow-right-2')
      .swiper-button-next
        +icon('arrow-right-2')