section.product
  .container
    .row
      .col-lg-7.col-xl-5
        .product__gallery
          .product-slider.swiper-container
            .swiper-wrapper
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-1.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-1.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-2.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-2.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-3.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-3.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-4.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-4.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-5.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-5.jpg", alt="")

          .product-thumb-slider.swiper-container
            .swiper-wrapper
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-2.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-3.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-4.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-5.jpg", alt="")

      .col-lg-5.col-xl-4.offset-xl-1