section.product
  .container
    .row
      .col-md-6.col-xl-5
        .product__gallery
          .product-slider.swiper-container
            .swiper-wrapper
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-1.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-1.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-2.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-2.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-3.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-3.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-4.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-4.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-5.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-5.jpg", alt="")

          .product-thumb-slider.swiper-container
            .swiper-wrapper
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-2.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-3.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-4.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/model-500-silver-sm-5.jpg", alt="")

      .col-md-6.col-xl-5.offset-xl-1
        .product__summary
          h1.product__title Standard home
            span  model m
          .product__short-descr
            p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры

          .product__meta
            p.product__meta-item Скорость дробления:
              b  4.2 кг/мин
            p.product__meta-item Мощность:
              b  560 Вт (0,75 л.с.)
            p.product__meta-item Скорость вращения:
              b  3200 об/мин
            p.product__meta-item Объем камеры:
              b  1200 мл
            p.product__meta-item Материал корпуса:
              b  ударопрочный пластик
            p.product__meta-item Материал (камера, дробящее кольцо):
              b  нержавеющая сталь
            p.product__meta-item Вес:
              b  6.75 кг

          a(href="#").btn.product__btn Заказать товар

    .product-descr
      h3.product-descr__title Standard home
      .product-descr__content
        p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры. Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры
        p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры

    .product-tabs
      ul.product-tabs__list
        li
          a(href="#functions") Функции
        li
          a(href="#tech")  Технические характеристики
        li
          a(href="#doc") Документы и чертежи

      .product-tabs__item#functions
        h4.product-tabs__title Функции
        ul
          li SoundSeal® Technology delivers Ultra-Quiet performance allowing you to hold a conversation with normal voices in the same room
          li MultiGrind® Technology delivers three stages of grind; you can stop worrying about what food you can/cannot put in your disposer
          li 1 Horsepower Dura-Drive® Induction Motor is engineered to specifications used for appliance motors, provides quiet operation and long life
          li Jam-Sensor® Circuit automatically increases torque to break through tough jams
          li Auto-Reverse grind system technology automatically reverses grind direction
          li 40 oz. Stainless Steel Grind Chamber and Components for durability
          li Assembled in USA with American Pride
          li InSinkErator 7-Year We Come To You® In-Home Full Service Limited Warranty Covers parts and labor
          li Quick Lock® Sink Mount allows for easy installation and disposer replacement

      .product-tabs__item#tech
        h4.product-tabs__title Технические характеристики
        table
          tr
            th Warranty
            td 7 Year We Come To You® In-Home Limited Warranty
          tr
            th Type of Feed
            td Continuous
          tr
            th On/Off Control
            td Wall Switch
          tr
            th Motor
            td Single Phase
          tr
            th Horsepower
            td 1 HP
          tr
            th Time Rating
            td Intermittent
          tr
            th Lubrication
            td Permanently Lubricated Upper & Lower Bearings
          tr
            th Unit Finish
            td Stainless Steel Light Gray
          tr
            th Overall Height
            td 13-1/2″
          tr
            th Soundseal Technology
            td Anti-Vibration Mount™, Anti-Vibration Tailpipe Mount™, Sink Baffle, Multi-Layer SoundLimiter™ Insulation
          tr
            th MultiGrind Technology
            td GrindShear Ring®
          tr
            th Grind Chamber Capacity
            td 40 oz
          tr
            th Motor Protection
            td Manual Reset Overload
          tr
            th Average Water Usage
            td Approx. 1 Gallon Per Person Per Day
          tr
            th Average Electrical Usage
            td 3-4 KWh Per Year
          tr
            th Drain Connection
            td 1-1/2″ Anti-Vibration (Hose Clamp)
          tr
            th Dishwasher Drain Connection
            td Yes

      .product-tabs__item#doc
        h4.product-tabs__title Документы и чертежи
        ul.list-file
          li
            a(href="#", target="_blank") Технические Характеристики
          li
            a(href="#", target="_blank") Габариты и размеры
          li
            a(href="#", target="_blank") Технические Характеристики
          li
            a(href="#", target="_blank") Габариты и размеры