section.clients
  .container
    .clients__wrap
      .clients__card-list
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/agency.svg", alt="")
          h3.icon-box__title HORECA
          p У нас накопился гигантский опыт в области установки диспоузеров для коммерческих кухонь. Мы разработали специальные пакеты для минимизации ваших затрат и максимизации сервиса при дальнейшей эксплуатации.
          a(href="#").btn-flat.callback_open Подробнее
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/house.svg", alt="")
          h3.icon-box__title Жилищным комплексам
          p Заинтересованы в повышении привлекательности жилищного пространства ваших клиентов? Мы готовы оказать полный комплекс обслуживания и увеличить вашу прибыль.
          a(href="#").btn-flat.callback_open Подробнее
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/gkh.svg", alt="")
          h3.icon-box__title Ремонтным компаниям
          p Стоит срочная задача по отделке кухни в сжатые сроки? Компания Standard Home готова незамедлительно выехать и установить диспоузеры в мойки любого типа и с любой водопроводной системой.
          a(href="#").btn-flat.callback_open Подробнее
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/designer.svg", alt="")
          h3.icon-box__title Дизайн студиям и частным дизайнерам интерьера
          p Каждой дизайн студии и частному дизайнеру очень важно иметь надежного партнера по воплощению творческих задач заказчика. Мы готовы стать вашим надежным партнером хотя бы в области кухонь.
          a(href="#").btn-flat.callback_open Подробнее