section.clients
  .container
    .clients__wrap
      .clients__card-list
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/agency.svg", alt="")
          h3.icon-box__title Агентствам недвижимости, <br>частным риэлторам или брокерам
          p Любая коммерческая организация заинтересована в получении максимальной прибыли. Мы разработали специальные ремонтные пакеты для повышения добавочной стоимости риэлтерских услуг.
          a(href="#").icon-box__link Подробнее
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/house.svg", alt="")
          h3.icon-box__title Жилищным комплексам
          p Заинтересованы в расширении сервисного обслуживания жилищного пространства ваших клиентов? Мы готовы оказать полный комплекс обслуживания и увеличить вашу прибыль.
          a(href="#").icon-box__link Подробнее
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/gkh.svg", alt="")
          h3.icon-box__title Управляющим компаниям, ТСЖ, ЖКХ
          p Стоит срочная задача по отделке помещений большого объема в сжатые сроки? Компания Колосс готова оказать услуги высочайшего уровня благодаря полной автоматизации производственного процесса.
          a(href="#").icon-box__link Подробнее
        .icon-box
          .icon-box__icon-wrap
            img(src="static/images/content/designer.svg", alt="")
          h3.icon-box__title Дизайн студиям и частным дизайнерам интерьера
          p Каждой дизайн студии и частному дизайнеру очень важно иметь надежного партнера по воплощению творческих задач в области ремонта помещений. Мы воплощаем фантазии любого уровня дизайна и готовы стать вашим надежным партнером.
          a(href="#").icon-box__link Подробнее