section.contact
  .container
    .line

    .contact__top
      .contact__item.contact__item--address
        h4.contact__item-title
          +icon('location', 'contact__item-title-icon')
          |  Адрес:
        p 115035, Россия, Москва, Раушская наб., 4/5, блок 3-15

      ul.social.contact__social
        li
          a(href="https://www.facebook.com/kitchencrusher/", target="_blank")
            +icon('fb', 'social__icon')
        li
          a(href="https://www.instagram.com/standard_home.ru/", target="_blank")
            +icon('insta', 'social__icon')

    #contact-map.contact__map

    .line.line--2

    .row
      .col-sm-6.col-lg-3
        .contact__item
          h4.contact__item-title
            +icon('phone', 'contact__item-title-icon')
            |  Телефоны:
          .contact__item-content
            p
              a(href="tel:84951084920") 8 (495) 108-49-20<br>
              span Отдел оптовых и розничных продаж<br>
              a(href="https://api.whatsapp.com/send?phone=79267261782", target="_blank") +7 926 726-17-82<br>
              span Whatsapp<br>
      .col-sm-6.col-lg-3
        .contact__item
          h4.contact__item-title
            +icon('web', 'contact__item-title-icon')
            |  Мы в социальных сетях:
          .contact__item-content
            p
              a(href="https://www.instagram.com/standard_home.ru/", target="_blank") Instagram <br>
              a(href="https://www.facebook.com/kitchencrusher/", target="_blank") Facebook
      .col-sm-6.col-lg-3
        .contact__item
          h4.contact__item-title
            +icon('mail', 'contact__item-title-icon')
            |  e-mail:
          .contact__item-content
            p
              a(href="mailto:info@standard-home.ru") info@standard-home.ru<br>
              span Отдел оптовых и розничных продаж<br>
            p
              a(href="mailto:az@standard-home.ru") az@standard-home.ru<br>
              span Дилерам и Партнерам
      .col-sm-6.col-lg-3
        .contact__item
          h4.contact__item-title
            +icon('clock', 'contact__item-title-icon')
            |  Часы работы:
          .contact__item-content
            p <strong>пн-пт: 8:00 до 19:00</strong>


  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  script.
    ymaps.ready(init);

    var myMap, myPlacemark,
      coords = [55.748513, 37.627229];

    function init() {
      myMap = new ymaps.Map('contact-map', {
        center: coords,
        zoom: 17
      });

      myPlacemark = new ymaps.Placemark(coords, {}, {
        preset: 'islands#circleDotIcon',
        iconColor: '#fe3334'
      });

      myMap.geoObjects.add(myPlacemark);

    }