section.product-gallery
  .container
    h2.section-title Фотогалерея

    .product-gallery-slider.swiper-container
      .swiper-wrapper
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/sh-xl/sh-xl-full-1.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/sh-xl/sh-xl-1.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/sh-xl/sh-xl-2-full.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/sh-xl/sh-xl-2.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/sh-xl/sh-xl-3-full.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/sh-xl/sh-xl-3.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/sh-xl/sh-xl-4-full.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/sh-xl/sh-xl-4.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/sh-xl/sh-xl-5-full.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/sh-xl/sh-xl-5.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/sh-xl/sh-xl-6-full.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/sh-xl/sh-xl-6.jpg", alt="")
    .swiper-btns
      .swiper-button-prev
        +icon('arrow-right-2')
      .swiper-button-next
        +icon('arrow-right-2')