section.about
  .container
    .row
      .col-lg-6
        .about__wrap
          .about__content
            h3 История компании
            p Компания Standard Home родилась в 2013 году как розничный проект одного из лидеров в области аутсорсинга ВЭД компании Standard Trade в ответ на требование российского рынка к появлению в России техники, уже давно снискавшей популярность в США и Западной Европе. За 6 лет работы мы открыли представительства в Москве, Санкт-Петербурге, Сочи и Казани и к концу 2019 года запускаем первые офисы в ближнем зарубежье: Минске и Нур-Султане. Наша команда не боится ставить для себя большие цели, но в первую очередь заботится о сохранении того уровня услуг, что был достигнут нелегким трудом за все это время.
      .col-lg-6
        .about__img-wrap
          img(src="static/images/content/about-1.jpg", alt="")
    .row
      .col-lg-6.order-2.order-lg-first
        .about__img-wrap
          img(src="static/images/content/about-2.jpg", alt="")
      .col-lg-6
        .about__wrap.about__wrap--bg
          .about__content
            h3 Дизайн и инновации
            p Идеальное сочетание инженерных и дизайнерских решений является залогом того, что разрабатываемые Standard Home продукты опережают время. Мы стремимся сделать вашу жизнь проще в целом ряде аспектов, включая безопасность вас и ваших детей, скорость работы, удовольствие от нахождения на кухне.