section.about
  .container
    .row
      .col-lg-6
        .about__wrap
          .about__content
            h3 История компании
            p В 1916 году на северо-востоке Италии молодой предприниматель Антонио Занусси начал производство кухонных плит и вскоре разработал целую линейку новаторских продуктов. С этого момента компания Zanussi стала пионером в области бытовой техники. Компания создала такие инновационные решения, как первая газовая плита и первый холодильник с функцией автоматической разморозки. Продуманный итальянский дизайн — это краеугольный камень успеха компании сегодня — точно так же, как и 100 лет назад.
      .col-lg-6
        .about__img-wrap
          img(src="static/images/content/about-1.jpg", alt="")
    .row
      .col-lg-6.order-2.order-lg-first
        .about__img-wrap
          img(src="static/images/content/about-2.jpg", alt="")
      .col-lg-6
        .about__wrap.about__wrap--bg
          .about__content
            h3 Дизайн и инновации
            p Идеальное сочетание инженерных и дизайнерских решений является залогом того, что разрабатываемые Zanussi продукты опережают время. Мы стремимся сделать вашу жизнь проще в целом ряде аспектов, включая холодильники, кухонные плиты, духовые шкафы, вытяжки и варочные панели, стиральные машины и сушильные барабаны.