section.career
  .container
    h2.section-title Карьера

    .row.align-items-center
      .col-lg-6
        .career__content
          h3 Большие возможности
          p Haier предоставляет своим сотрудникам прекрасные возможности для профессионального развития и карьерного роста, отличные условия труда и конкурентоспособное вознаграждение.
          p С более подробной информацией можно ознакомиться далее.
          a(href="#").btn-flat.btn-flat--black Подать заявку сейчас

      .col-lg-6
        .career__img-wrap
          img(src="static/images/content/career.jpg", alt="")