section.news.news--bg
  .container
    h2.section-title Наши новости

    .row
      include ../../modules/news/news-card
      include ../../modules/news/news-card

    .news__btn
      a(href="#").btn-flat.btn-flat--black Показать больше