section.our-values
  .container
    h2.section-title Наши ценности

    .our-values-list
      .our-values-list__item
        .our-values-list__icon-wrap
          img(src="static/images/content/adequacy.svg")
        h3.our-values-list__title Адекватность
        p Превалирование в бизнесе разума над чувствами: за пределами работы мы можем быть какими угодно, но в компании мы не вмешиваем свои личные эмоции в работу.
      .our-values-list__item
        .our-values-list__icon-wrap
          img(src="static/images/content/responsibility.svg")
        h3.our-values-list__title Ответственность
        p Мы отвечаем за вашу покупку от начала и до конца и компенсируем любое несоответствие между обещанными и реально оказанными услугами.
      .our-values-list__item
        .our-values-list__icon-wrap
          img(src="static/images/content/training.svg")
        h3.our-values-list__title Постоянное обучение
        p Нас не пугает работа, которую мы никогда раньше не делали. Мы постоянно осваиваем новые инструменты, тестируем разные подходы в бизнесе - работаем по принципу Agile.
      .our-values-list__item
        .our-values-list__icon-wrap
          img(src="static/images/content/esteem.svg")
        h3.our-values-list__title Самоуважение
        p Мы уважаем себя и свой труд. Поэтому пренебрежительное отношение со стороны клиента может стать причиной прекращения совместной работы.
      .our-values-list__item
        .our-values-list__icon-wrap
          img(src="static/images/content/flexibility.svg")
        h3.our-values-list__title Гибкость
        p Мы идем навстречу клиентам. Но не выполняем их капризы, а стараемся помочь везде, где это возможно. Мы играем на стороне клиента. У нас умные сотрудники, которые не жалуются на проблемы, а ищут их решение.
      .our-values-list__item
        .our-values-list__icon-wrap
          img(src="static/images/content/heart.svg")
        h3.our-values-list__title Личное участие в судьбе компании
        p Мы не просто ходим изо дня в день на работу за зарплатой, но развиваемся и растём вместе с компанией.