.header
  &__top
    padding: 20px 0
    +r(767)
      padding: 10px 0
    .container
      position: relative
      display: flex
      align-items: center
  &__logo
    margin-right: 215px
    +r(1200)
      margin-right: 70px
    +r(767)
      margin-right: 30px
  &__phone
    margin-right: 90px
    +r(1200)
      margin-right: 40px
    +r(992)
      margin-left: auto
      margin-right: 50px
    +r(576)
      display: none
  &__small-contact
    margin-left: auto
    +r(992)
      display: none
  &__bottom
    +bgl