section.products
  .container
    .products-list
      .products-list__item
        .products-list__col
          .products-list__img-wrap
            img(src="static/images/content/product-1.jpg", alt="Rokker")
        .products-list__col
          .products-list__content
            h3.products-list__title <span>Диспоузеры</span> Rokker
            .products-list__line
            p Сингапурский бренд премиальных диспоузеров, существующий с 1993 года. Интеллектуальные технологии работы, включающие реверсный механизм, систему защиты от попадания посторонних предметов, специальные сплавы для режущих частей и уникальный дизайн – вот что такое ROKKER.
            a(href="product.html").btn Посмотреть полное предложение
              +icon('arrow-right')
      .products-list__item
        .products-list__col
          .products-list__img-wrap
            img(src="static/images/content/product-2.jpg", alt="Standard Home")
        .products-list__col
          .products-list__content
            h3.products-list__title <span>Диспоузеры</span> Standard Home
            .products-list__line
            p Собственная торговая марка магазина Standard Home. Оптимальное соотношение цены и качества, а также система шумоподавления обеспечивают любовь потребителей на всем постсоветском пространстве.
            a(href="product.html").btn Посмотреть полное предложение
              +icon('arrow-right')
      .products-list__item
        .products-list__col
          .products-list__img-wrap
        .products-list__col
          .products-list__content
            h3.products-list__title <span>Диспоузеры</span> Kitchen Crush
            .products-list__line
            p Бренд диспоузеров, предназначенный специально для баров, кафе и ресторанов. Не требуют перерывов в работе, готовы справиться с кухнями, обслуживающими до 200 человек единовременно
            a(href="product.html").btn Посмотреть полное предложение
              +icon('arrow-right')