section.products
  .container
    .products-list
      .products-list__item
        .products-list__col
          .products-list__img-wrap
            img(src="static/images/content/product-1.jpg", alt="Rokker")
        .products-list__col
          .products-list__content
            h3.products-list__title <span>Диспоузеры</span> Rokker
            .products-list__line
            p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры
            a(href="#").btn Посмотреть полное предложение
              +icon('arrow-right')
      .products-list__item
        .products-list__col
          .products-list__img-wrap
            img(src="static/images/content/product-2.jpg", alt="Standard Home")
        .products-list__col
          .products-list__content
            h3.products-list__title <span>Диспоузеры</span> Standard Home
            .products-list__line
            p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры
            a(href="#").btn Посмотреть полное предложение
              +icon('arrow-right')
      .products-list__item
        .products-list__col
          .products-list__img-wrap
        .products-list__col
          .products-list__content
            h3.products-list__title <span>Диспоузеры</span> Kitchen Crush
            .products-list__line
            p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры
            a(href="#").btn Посмотреть полное предложение
              +icon('arrow-right')