section.product-gallery
  .container
    h2.section-title Фотогалерея

    .product-gallery-slider.swiper-container
      .swiper-wrapper
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-rokker-full-1.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-rokker-1.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-rokker-full-2.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-rokker-2.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-rokker-full-3.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-rokker-3.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-rokker-full-4.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-rokker-4.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-rokker-full-5.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-rokker-5.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/product-rokker-full-6.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/product-rokker-6.jpg", alt="")
    .swiper-btns
      .swiper-button-prev
        +icon('arrow-right-2')
      .swiper-button-next
        +icon('arrow-right-2')