section.dealer
  .container
    .row.align-items-center
      .col-md-6
        .dealer__img-wrap
          img(src="static/images/content/dealer.jpg", alt="")
      .col-md-6
        .dealer__content
          h3 Каковы преимущества дилерской программы?
          p Standard Home имеет официальных дилеров на всей территории Российской Федерации. Мы Заинтересованы в её развитии и приглашаем московские и региональные организации и индивидуальных предпринимателей к долгосрочному и взаимовыгодному сотрудничеству.

    h2.section-title.mt80 Став нашим дилером, Вы получите:

    .dealer__privilege.row
      .icon-box.col-lg-4
        .icon-box__icon-wrap
          img(src="static/images/content/graph.svg", alt="")
        h3.icon-box__title Выгодные условия
        p Закупка товара по оптовым ценам. <br>Одно из лучших на рынке cоотношений «цена-качество».
      .icon-box.col-lg-4
        .icon-box__icon-wrap
          img(src="static/images/content/phone-info.svg", alt="")
        h3.icon-box__title Информационная поддержка и консультации
        p Владение актуальной информацией о товаре, его цене и наличии с помощью наших опытных и квалифицированных специалистов.
      .icon-box.col-lg-4
        .icon-box__icon-wrap
          img(src="static/images/content/quality.svg", alt="")
        h3.icon-box__title Качество и ответственность
        p Гарантия качества и надёжности приобретаемого товара вследствие всестороннего контроля поставляемого оборудования и комплектующих. 

    .line

    h3 Кто может стать дилером?
    p Нашим дилером может стать любой участник рынка систем водоочистки, а также ремонта и отделки помещений – организация или индивидуальный предприниматель, осуществляющие регулярные закупки оборудования в компании Standard Home.