section.characteristic
  .container
    h2.section-title Характеристики

    .row
      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                //- img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Реверсный <br>механизм
              .product-card__features-item
                //- img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Защита <br>от посторонних <br>предметов
              .product-card__features-item
                //- img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Ударопрочный <br>пластик

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-200-black.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-200-black.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-7.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-200-black-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-8.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-200-black-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-9.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-200-black-3.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-200-black-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-7.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-8.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-9.jpg", alt="")

          .product-card__body
            h3.product-card__title Rokker <span>R100</span>
            .product-card__content
              .product-card__package
                ul
                  li Скорость дробления: <strong>5.6 кг/мин</strong>
                  li Жесткая подводка коммуникаций
                  li Мощность: <strong>500 Вт</strong>
                  li Скорость вращения: <strong>1450 об/мин</strong>
                  li Объем камеры: <strong>900 мл</strong>
                  li Материал корпуса: <strong>ударопрочный пластик PA6</strong>
                  li Гарантия: <strong>10 лет</strong>
              .product-card__prices
                p.price.price--green 28 000
                  span.price__currency  руб.
                a(href="#").btn.product-order_open Заказать

      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                //- img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Реверсный <br>механизм
              .product-card__features-item
                //- img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Защита <br>от посторонних <br>предметов
              .product-card__features-item
                //- img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Цельнометаллический <br>корпус

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-200-red.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-2.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-3.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red-3.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-4.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-5.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red-5.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/product-rokker-full-6.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red-6.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-200-red-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-2.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-3.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-4.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-5.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/product-rokker-sm-6.jpg", alt="")

          .product-card__body
            h3.product-card__title Rokker <span>R200</span>
            .product-card__content
              .product-card__package
                ul
                  li Скорость дробления: <strong>6.4 кг/мин</strong>
                  li Гибкая подводка коммуникаций
                  li Мощность: <strong>500 Вт</strong>
                  li Скорость вращения: <strong>1450 об/мин</strong>
                  li Объем камеры: <strong>900 мл</strong>
                  li Материал корпуса: <strong>нержавеющая сталь O8X18H13</strong>
                  li Гарантия: <strong>10 лет</strong>
              .product-card__prices
                p.price.price--green 32 000
                  span.price__currency  руб.
                a(href="#").btn.product-order_open Заказать


      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Эко
              .product-card__features-item
                //- img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Двойное <br>измельчение
              .product-card__features-item
                //- img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Сверхтихий

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-2.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-3.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-3.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-4.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-5.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-5.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-2.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-3.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-4.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-5.jpg", alt="")

          .product-card__body
            h3.product-card__title Standart Home <span>MODEL M</span>
            .product-card__content
              .product-card__package
                p Комплект поставки:
                ul
                  li Скорость дробления: <strong>4.2 кг/мин</strong>
                  li Мощность: <strong>560 Вт (0,75 л.с.)</strong>
                  li Скорость вращения: <strong>3200 оборотов/мин</strong>
                  li Объем камеры: <strong>1200 мл</strong>
                  li Материал корпуса: <strong>ударопрочный пластик</strong>
                  li Материал (камера, дробящее кольцо): <strong>нержавеющая сталь</strong>
                  li Вес: <strong>6.75 кг</strong>
                  li Гарантия: <strong>3 года</strong>
              .product-card__prices
                p.price
                  del.price__old 15 900 РУБ.
                  | 13 900
                  span.price__currency  руб.
                //- p.product__card__prices-descr Доставка и установка - бесплатно
                a(href="#").btn.product-order_open Заказать

      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Эко
              .product-card__features-item
                //- img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Двойное <br>измельчение
              .product-card__features-item
                //- img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Мощный мотор

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-2.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-3.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-3.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-4.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-5.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-5.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-2.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-3.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-4.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-5.jpg", alt="")

          .product-card__body
            h3.product-card__title Standart Home <span>MODEL XL</span>
            .product-card__content
              .product-card__package
                p Комплект поставки:
                ul
                  li Скорость дробления: <strong>5.2 кг/мин</strong>
                  li Мощность: <strong>750 Вт (1 л.с.)</strong>
                  li Скорость вращения: <strong>3800 об/мин</strong>
                  li Объем камеры: <strong>1400 мл</strong>
                  li Материал корпуса: <strong>ударопрочный пластик</strong>
                  li Материал (камера, дробящее кольцо): <strong>нержавеющая сталь</strong>
                  li Вес: <strong>7.5 кг</strong>
                  li Гарантия: <strong>5 лет</strong>
              .product-card__prices
                p.price
                  del.price__old 19 900 РУБ.
                  | 17 900
                  span.price__currency  руб.
                //- p.product__card__prices-descr Доставка и установка - бесплатно
                a(href="#").btn.product-order_open Заказать