extends template/main

block variables
  - var title = 'Магазин кухонных измельчителей Standard Home'
  - var pageClass = ''

block content
  include pages/index/hero
  include pages/index/product-for
  include pages/index/advantages
  include pages/index/info-card
  //- include pages/index/services-card
  include pages/index/order
  include pages/index/numbers
  include pages/index/blog