extends template/main

block variables
  - var title = 'Главная'
  - var pageClass = ''

block content
  include pages/index/hero
  include pages/index/how-work
  include pages/index/characteristic
  include pages/index/advantages
  include pages/index/speed
  include pages/index/problem
  include pages/index/order
  //- include pages/index/box-card