extends template/main

block variables
  - var title = 'Установка'
  - var pageClass = ''
  - var titleForm = 'Какой диспоузер мне подойдет?'

block content
  include pages/install/hero
  include pages/install/install
  include modules/form/form-how