extends template/main

block variables
  - var title = 'Лендинг 2'
  - var pageClass = ''

block content
  include pages/lp-2/hero
  include pages/index/how-work
  include pages/lp-2/characteristic
  include pages/lp-2/advantages
  include pages/index/speed
  include pages/index/problem
  include pages/index/order
  include pages/index/box-card