extends template/main

block variables
  - var title = 'Диспоузеры'
  - var pageClass = ''

block content
  include pages/rokker/hero
  include pages/standard-home/how-work
  include pages/lp/characteristic
  include pages/rokker/advantages
  include pages/rokker/speed
  include pages/standard-home/problem
  include pages/standard-home/order
  //- include pages/index/box-card