extends template/main

block variables
  - var title = 'Main page'
  - var pageClass = ''

block content
  include pages/main/hero
  include pages/main/product-for
  include pages/main/advantages
  include pages/main/info-card