extends template/main

block variables
  - var title = 'Магазин кухонных змельчителей Standard Home'
  - var pageClass = ''

block content
  include pages/main/hero
  include pages/main/product-for
  include pages/main/advantages
  include pages/main/info-card
  //- include pages/main/services-card
  include pages/main/order
  include pages/main/numbers
  include pages/main/blog