extends template/main

block variables
  - var title = 'Безопасность измельчителя для человека: мифы и реальность'
  - var pageClass = ''

block content
  include modules/hero/hero
  include pages/news-article/news-article