extends template/main

block variables
  - var title = 'Продукцыя'
  - var pageClass = ''
  - var titleForm = 'Какой диспоузер мне подойдет?'

block content
  include pages/products/hero
  include pages/products/products
  include modules/form/form-how