extends template/main

block variables
  - var title = 'Kitchen Crush'
  - var pageClass = ''
  - var titleForm = 'Какой диспоузер мне подойдет?'

block content
  include pages/product-kitchen-crush/product
  include pages/product-kitchen-crush/gallery
  //include pages/product-rokker/docs
  include modules/form/form-how