extends template/main

block variables
  - var title = 'Rokker R100/R200'
  - var pageClass = ''
  - var titleForm = 'Какой диспоузер мне подойдет?'

block content
  include pages/product-rokker/product
  include pages/product/gallery
  include pages/product-rokker/docs
  include modules/form/form-how