extends template/main

block variables
  - var title = 'Продукцыя'
  - var pageClass = ''

block content
  include pages/products/hero
  include pages/products/products
  include modules/form/form-how