extends template/main

block variables
  - var title = 'Standard Home Model M'
  - var pageClass = ''
  - var titleForm = 'Какой диспоузер мне подойдет?'

block content
  include pages/product/product
  include pages/product/gallery
  include modules/work/work
  include modules/form/form-how