extends template/main

block variables
  - var title = 'Rokker R500'
  - var pageClass = ''
  - var titleForm = 'Какой диспоузер мне подойдет?'

block content
  include pages/product-rokker-r500/product
  include pages/product-rokker-r500/gallery
  include modules/work/work
  include modules/form/form-how