extends template/main

block variables
  - var title = 'Наша продукция'
  - var pageClass = ''
  - var titleForm = 'Какой диспоузер мне подойдет?'
  - var heroText = 'Технологии Standard упрощают нашу повседневную жизнь: <br>мы предлагаем как известные на рынке бренды, так и диспоузеры под собственной торговой маркой'

block content
  include modules/hero/hero
  include pages/products/products
  include modules/form/form-how