extends template/main

block variables
  - var title = 'Сервис и услуги'
  - var pageClass = ''
  - var titleForm = 'По любым вопросам, связанным с установкой и гарантией вам ответит наш мастер'
  - var textForm = ' '

block content
  include modules/hero/hero
  include pages/services/order-advantages
  include pages/services/info-card
  //- include pages/services/text-box
  include modules/form/form-how