extends template/main

block variables
  - var title = 'Standard Home'
  - var pageClass = ''

block content
  include pages/standard-home/hero
  include pages/standard-home/how-work
  include pages/standard-home/characteristic
  include pages/standard-home/advantages
  include pages/standard-home/speed
  include pages/standard-home/problem
  include pages/standard-home/order