section.warranty
  .container
    h2.section-title Виды гарантии

    .warranty__wrap
      .row
        .col-md-6
          .warranty__item
            .warranty__icon-wrap
              img(src="static/images/content/shield.svg", alt="")
            h3.warranty__title Стандартная гарантия
            p Для каждого бытового прибора предусмотрена гарантия указанная при покупке.

            ul
              li Бесплатный ремонт осуществляется силами наших специалистов, работающих по месту вашего жительства.
              li Бесплатная замена деталей, бесплатный приезд и работа специалиста. 
            p Вам не потребуется привозить нам диспоузер и лишать себя кухонной мойки
            p При тяжелых поломках наш мастер может бесплатно привезти и поставить рабочий диспоузер взамен ремонтируемого

            a(href="service-centers.html").btn-flat.btn-flat--black Найдите Ближайший Сервисный Центр

        .col-md-6
          .warranty__item.warranty__item--green
            .warranty__icon-wrap
              img(src="static/images/content/card.svg", alt="")
            h3.warranty__title Нет гарантии? <br>Покупали не у нас? <br>У вас другой диспоузер?
            p Если у вас нет гарантии, но ваша бытовая техника нуждается в ремонте, вы можете заплатить за разовый ремонт.
            p Также вы всегда можете заказать выезд нашего специалиста за дополнительную плату
            p Рекомендуем предварительно позвонить нашему оператору и получить подсказку по ремонту. Выезд в сервисный центр - это крайняя процедура. Мы постараемся сделать так чтобы вы ее избежали

            a(href="service-centers.html").btn-flat.btn-flat--black Найдите Ближайший Сервисный Центр