section.blog.s-blog
  .container
    span.blog__line
    h2.section-title Блог

    .row
      .col-md-6.col-lg-4
        .blog-card
          a(href="#")
            img(src="static/images/content/blog-1.jpg", alt="")
          .blog-card__content
            time(datetime="2019-05-16").blog-card__publish 16.05.2019
            h3.blog-card__title
              a(href="#") Рыбные кости
            p Любите готовить блюда из рыбы? Кухонный измельчитель Standard Home перемалывает рыбные кости за 5-10 секунд
            a(href="#").blog-card__link Подробнее <span>→</span>
      .col-md-6.col-lg-4
        .blog-card
          a(href="#")
            img(src="static/images/content/blog-2.jpg", alt="")
          .blog-card__content
            time(datetime="2019-05-16").blog-card__publish 16.05.2019
            h3.blog-card__title
              a(href="#") Первая мобильная сервисная станция Haier
            p Компания Haier запустила первую в России мобильную сервисную станцию. Торжественный запуск прошел в Ростове-на-Дону...
            a(href="#").blog-card__link Подробнее <span>→</span>
      .col-md-6.col-lg-4
        .blog-card
          a(href="#")
            img(src="static/images/content/blog-3.jpg", alt="")
          .blog-card__content
            time(datetime="2019-05-16").blog-card__publish 16.05.2019
            h3.blog-card__title
              a(href="#") Куриные и мясные остатки
            p Всегда свежесть на кухне без посторонних запахов. За 10-15 секунд кухонный измельчитель не оставит ни запаха, ни самих костей. Наслаждайтесь ужином
            a(href="#").blog-card__link Подробнее <span>→</span>

    .s-blog__btn
      a(href="#").btn Открыть все