@import 'blog-card'

.s-blog
  padding-bottom: 120px
  +r(767)
    padding-bottom: 50px
  .section-title
    margin-bottom: 40px
  &__btn
    margin-top: 50px
    text-align: center
    .btn
      padding: 10px 35px
      background-color: #74AE06
      background-image: none
      &:hover, &:focus
        background-color: $accent

.blog
  padding-top: 145px
  +r(767)
    padding-top: 100px
  &__line
    position: absolute
    left: 50%
    top: -60px
    z-index: 1
    width: 1px
    height: 150px
    background-image: linear-gradient(to top, $light-accent-color, rgba(#fff, 0))
    +r(767)
      height: 80px
      top: -40px
    &::before
      content: ''
      position: absolute
      left: -12px
      bottom: -25px
      width: 25px
      height: 25px
      border-radius: 50%
      border: 1px solid $light-accent-color
    &::after
      content: ''
      position: absolute
      left: -7px
      bottom: -20px
      width: 15px
      height: 15px
      border-radius: 50%
      background-color: $light-accent-color