@import 'blog-card'

.s-blog
  padding-bottom: 120px
  +r(767)
    padding-bottom: 50px
  .section-title
    margin-bottom: 40px
  &__btn
    margin-top: 50px
    text-align: center
    .btn
      padding: 10px 35px
      background-color: #74AE06
      background-image: none
      &:hover, &:focus
        background-color: $accent