section.s-advantages
  .container
    h2.section-title Преимущества

    .advantages-list.advantages-list--2
      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title На 30% тише все <br>представленных аналогов
            p Технология подавления шума Ultra-Silence - надежная защита от шума при работе индукционного мотора мощностью 0,75 - 1 л.с. даже при переработке мясных, куриных и рыбных костей.

        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-1.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Больше никаких засоров <br>в канализации
            p
              strong 100% защита от засоров в канализации
            p Специально разработанная технология двойного измельчения позволяет забыть об услугах сантехника навсегда

        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-2.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Технология двойного измельчения

            p Установка измельчителя Standard Home занимает не более 25-30 мин

        .advantages-list__img-wrap.text-center
          img(src="static/images/content/advantages-media-3.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title На 30% тише все <br>представленных аналогов
            p Технология подавления шума Ultra-Silence - надежная защита от шума при работе индукционного мотора мощностью 0,75 - 1 л.с. даже при переработке мясных, куриных и рыбных костей.

        .advantages-list__img-wrap.text-center
          img(src="static/images/content/advantages-media-1.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Больше никаких засоров <br>в канализации
            p
              strong 100% защита от засоров в канализации
            p Специально разработанная технология двойного измельчения позволяет забыть об услугах сантехника навсегда

        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-2.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Технология двойного измельчения

            p Установка измельчителя Standard Home занимает не более 25-30 мин

        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-3.jpg", alt="")

    button(type="button").s-advantages__btn
      +icon('arrow-down', 's-advantages__btn-arrow')