section.s-advantages
  .container
    h2.section-title Почему именно ROKKER

    .advantages-list.advantages-list--2
      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Технологии подавления шума
            p 48 Дб - максимальный шум, который может издавать ROKKER. Это тише посудомоечной машины

        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-1.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Реверсивный механизм
            p Режущие части внутри диспоузера поочередно вращаются по и против часовой стрелки. Ни одна кость не застрянет внутри и не повредит механизм

        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-2.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Защита от посторонних предметов

            p Благодаря магнитному датчику ROKKER останавливает механизм при случайном попадании внутрь ложки, ножа, вилки и других столовых приборов

        .advantages-list__img-wrap.text-center
          img(src="static/images/content/advantages-media-3.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Гарантия возврата денег
            p Вас не устроила работа измельчителя? Что-то пошло не так? В течение двух недель вы можете вернуть нам измельчитель без объяснения причин

        .advantages-list__img-wrap.text-center
          img(src="static/images/content/advantages-media-1.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Быстрая установка
            p Установка измельчителя Standard Home занимает не более 25-30 мин, после чего вы сразу же можете пользоваться вашей обновленной кухней. Наш мастер приберет за собой.

        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-2.jpg", alt="")

      .advantages-list__item
        .advantages-list__content
          .bd-l
            h3.advantages-list__title Опыт работы с любыми кухнями

            p У вас дорогая каменная столешница? Подключена посудомоечная машина?
            p Нет розетки под мойкой?
            p Мы работали с этим и знаем что делать


        .advantages-list__img-wrap
          img(src="static/images/content/advantages-media-3.jpg", alt="")

    button(type="button").s-advantages__btn
      +icon('arrow-down', 's-advantages__btn-arrow')