section.characteristic
  .container
    h2.section-title Характеристики

    .row
      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Эко
              .product-card__features-item
                img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Доставка
              .product-card__features-item
                img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Установка

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-200-black.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-200-black.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-2.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-3.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-3.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-4.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-5.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-5.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-200-black-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-2.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-3.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-4.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-5.jpg", alt="")

          .product-card__body
            h3.product-card__title KITCHEN CRUSH <span>MODEL 200</span>
            .product-card__content
              .product-card__package
                p Комплект поставки:
                ul
                  li диспоузер;
                  li комплект для подключения;
                  li пневмокнопка;
                  li проталкиватель;
                  li инструкция;
                  li гарантия;
                  li сенсорная кнопка
                a(href="product.html").product-card__package-link подробнее
              .product-card__prices
                p.price.price--green
                  del.price__old 27 900 РУБ.
                  | 22 900
                  span.price__currency  руб.
                p.product__card__prices-descr Доставка и установка - бесплатно
                a(href="#").btn.product-order_open Заказать

      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Эко
              .product-card__features-item
                img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Доставка
              .product-card__features-item
                img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Установка

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-200-red.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-2.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-3.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-3.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-4.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-5.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-5.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-200-red-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-2.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-3.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-4.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-5.jpg", alt="")

          .product-card__body
            h3.product-card__title KITCHEN CRUSH <span>MODEL 500</span>
            .product-card__content
              .product-card__package
                p Комплект поставки:
                ul
                  li диспоузер;
                  li комплект для подключения;
                  li пневмокнопка;
                  li проталкиватель;
                  li инструкция;
                  li гарантия;
                  li сенсорная кнопка
                a(href="product.html").product-card__package-link подробнее
              .product-card__prices
                p.price.price--green
                  del.price__old 27 900 РУБ.
                  | 22 900
                  span.price__currency  руб.
                p.product__card__prices-descr Доставка и установка - бесплатно
                a(href="#").btn.product-order_open Заказать