section.characteristic
  .container
    h2.section-title Характеристики

    .row
      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                //- img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Реверсный <br>механизм
              .product-card__features-item
                //- img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Защита <br>от посторонних <br>предметов
              .product-card__features-item
                //- img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Ударопрочный <br>пластик

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-200-black.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-200-black.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-2.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-3.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-3.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-4.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-silver-5.jpg", data-fancybox="gallery-1")
                    img(src="static/images/content/gallery/model-500-silver-5.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-200-black-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-2.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-3.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-4.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-silver-sm-5.jpg", alt="")

          .product-card__body
            h3.product-card__title Rokker <span>R100</span>
            .product-card__content
              .product-card__package
                ul
                 li Скорость дробления: <strong>5.6 кг/мин</strong>
                 li Жосткая подводка коммуникаций
                 li Мощность: <strong>500 Вт</strong>
                 li Скорость вращения: <strong>1450 об/мин</strong>
                 li Объем камеры: <strong>900 мл</strong>
                 li Материал корпуса: <strong>ударопрочный пластик PA6</strong>
                 li Гарантия: <strong>10 лет</strong>
                a(href="product-rokker.html").product-card__package-link подробнее
              .product-card__prices
                p.price.price--green 28 000
                  span.price__currency  руб.
                a(href="#").btn.product-order_open Заказать

      .col-md-6
        .product-card
          .product-card__gallery

            .product-card__features
              .product-card__features-item
                //- img(src="static/images/general/green-energy.svg", width="36"  alt="")
                p.product-card__features-title Реверсный <br>механизм
              .product-card__features-item
                //- img(src="static/images/general/delivery.svg", width="36"  alt="")
                p.product-card__features-title Защита <br>от посторонних <br>предметов
              .product-card__features-item
                //- img(src="static/images/general/install.svg", width="36"  alt="")
                p.product-card__features-title Цельнометаллический <br>корпус

            .product-card-slider.swiper-container
              .swiper-wrapper
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-200-red.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-200-red.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-2.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-2.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-3.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-3.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-4.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-4.jpg", alt="")
                .product-card-slider__item.swiper-slide
                  a(href="static/images/content/gallery/model-500-black-5.jpg", data-fancybox="gallery-2")
                    img(src="static/images/content/gallery/model-500-black-5.jpg", alt="")

            .product-card-thumb-slider.swiper-container
              .swiper-wrapper
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-200-red-sm.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-2.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-3.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-4.jpg", alt="")
                .product-card-thumb-slider__item.swiper-slide
                  img(src="static/images/content/gallery/model-500-black-sm-5.jpg", alt="")

          .product-card__body
            h3.product-card__title Rokker <span>R200</span>
            .product-card__content
              .product-card__package
                ul
                 li Скорость дробления: <strong>6.4 кг/мин</strong>
                 li Гибкая подводка коммуникаций
                 li Мощность: <strong>500 Вт</strong>
                 li Скорость вращения: <strong>1450 об/мин</strong>
                 li Объем камеры: <strong>900 мл</strong>
                 li Материал корпуса: <strong>нержавеющая сталь O8X18H13</strong>
                 li Гарантия: <strong>10 лет</strong>
                a(href="product-rokker.html").product-card__package-link подробнее
              .product-card__prices
                p.price.price--green 32 000
                  span.price__currency  руб.
                a(href="#").btn.product-order_open Заказать