.container
  .form-box
    .section-head
      h2.section-title #{titleForm}
      if !textForm
        p Наши консультанты Вам перезвонят!
      else
        p !{textForm}

    form.form-box__form
      .row
        .col-lg-4
          .form-group
            input(type="text", name="name", placeholder="Ваше имя", required).form-field
        .col-lg-4
          .form-group
            input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
        .col-lg-4
          .form-group
            input(type="submit", value="Оставить заявку").btn-flat.btn-flat--black
