section.product-gallery
  .container
    h2.section-title Фотогалерея

    .product-gallery-slider.swiper-container
      .swiper-wrapper
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-0.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-0.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-1.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-1.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-2.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-2.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-3.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-3.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-4.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-4.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-5.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-5.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-6.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-6.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-7.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-7.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-8.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-8.jpg", alt="")
        .product-gallery-slider__item.swiper-slide
          a(href="static/images/content/gallery/kc/kc-full-9.jpg", data-fancybox="group")
            img(src="static/images/content/gallery/kc/kc-9.jpg", alt="")

    .swiper-btns
      .swiper-button-prev
        +icon('arrow-right-2')
      .swiper-button-next
        +icon('arrow-right-2')