section.article
  .container
    .row
      .col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
        .article__content
          h3 Как много места занимает <u>Измельчитель отходов InSinkErator?</u>
          p Современные измельчители (утилизаторы, диспоузеры) пищевых отходовкомпактны для установки под кухонной мойкой, при этом остается достаточно много свободного места под столешницей.

          h3 Нужна ли для <u>Измельчителя отходов InSinkErator</u> специальная мойка?
          p Измельчители (утилизаторы, диспоузеры) пищевых отходовустанавливаются в любые мойки из нержавеющей стали, либо в любые другие мойки, диаметр сливного отверстия которых составляет ~90 мм. Сливное отверстие в мойке из нержавеющей стали увеличивается с помощью специального фирменного приспособления, (эта работа должна производиться квалифицированным специалистом). Измельчитель (утилизатор, диспоузер) пищевых отходовможет быть установлен как в двух-(трех-)секционную, так и в односекционную мойку. 

          figure.text-center
            img(src="static/images/content/about-2.jpg", alt="")

          h3 Насколько Измельчитель отходов InSinkErator прост в установке?
          p Каждый измельчитель (утилизатор, диспоузер) пищевых отходовснабжен подробной пошаговой инструкцией по установке на русском языке и, в принципе, само подсоединение измельчителя (утилизатора, диспоузера) пищевых отходовк мойке может произвести любой человек "с руками", но подключение измельчителя к канализации должно производиться, как минимум, квалифицированным сантехником.

          h3 Нужна ли для <u>Измельчителя отходов InSinkErator</u> специальная мойка?
          p Измельчители (утилизаторы, диспоузеры) пищевых отходовустанавливаются в любые мойки из нержавеющей стали, либо в любые другие мойки, диаметр сливного отверстия которых составляет ~90 мм. Сливное отверстие в мойке из нержавеющей стали увеличивается с помощью специального фирменного приспособления, (эта работа должна производиться квалифицированным специалистом). Измельчитель (утилизатор, диспоузер) пищевых отходовможет быть установлен как в двух-(трех-)секционную, так и в односекционную мойку. 

    .similar-article
      h2.section-title Вам также может понравиться:

      .row
        .col-md-6.col-lg-4
          .blog-card
            a(href="#")
              img(src="static/images/content/blog-1.jpg", alt="")
            .blog-card__content
              h3.blog-card__title
                a(href="#") Рыбные кости
              p Любите готовить блюда из рыбы? Кухонный измельчитель Standard Home перемалывает рыбные кости за 5-10 секунд
        .col-md-6.col-lg-4
          .blog-card
            a(href="#")
              img(src="static/images/content/blog-2.jpg", alt="")
            .blog-card__content
              h3.blog-card__title
                a(href="#") Первая мобильная сервисная станция Haier
              p Компания Haier запустила первую в России мобильную сервисную станцию. Торжественный запуск прошел в Ростове-на-Дону...
        .col-md-6.col-lg-4
          .blog-card
            a(href="#")
              img(src="static/images/content/blog-3.jpg", alt="")
            .blog-card__content
              h3.blog-card__title
                a(href="#") Куриные и мясные остатки
              p Всегда свежесть на кухне без посторонних запахов. За 10-15 секунд кухонный измельчитель не оставит ни запаха, ни самих костей. Наслаждайтесь ужином