section(style="background-image: url(static/images/content/hero-2.jpg)").hero.hero--page
  .container
    .hero__content
      h1.hero__title Сервис Хайер теперь и в Беларуси !
      time(datetime="2019-04-18").publish 18.04.2019