.col-md-6.col-lg-4.col-xl-3
  .news-card
    .news-card__img-wrap
      a(href="news-article.html")
        img(src="static/images/content/news-1.jpg", alt="")
    .news-card__body
      h3.news-card__title
        a(href="news-article.html") Сервис Хайер теперь и в Беларуси !
      p Компания Хайер рада сообщить своим белорусским покупателем, что в Республике Беларусь начала работу...
      a(href="news-article.html").news-card__link Читать дальше →
.col-md-6.col-lg-4.col-xl-3
  .news-card
    .news-card__img-wrap
      a(href="news-article.html")
        img(src="static/images/content/news-2.jpg", alt="")
    .news-card__body
      h3.news-card__title
        a(href="news-article.html") Первая мобильная сервисная станция Haier
      p Компания Haier запустила первую в России мобильную сервисную станцию. Торжественный запуск прошел в Ростове-на-Дону...
      a(href="news-article.html").news-card__link Читать дальше →