footer.footer
  .container
    .footer__col
      h4.footer__title Оставаться в курсе событий

      ul.social.footer__social
        li
          a(href="https://www.facebook.com/kitchencrusher/", target="_blank")
            +icon('fb', 'social__icon')
        li
          a(href="https://www.instagram.com/standard_home.ru/", target="_blank")
            +icon('insta', 'social__icon')

    .footer__col
      h4.footer__title
        a(href="products.html") Продукция
      ul.footer__menu
        li
          a(href="rokker.html") Диспоузеры Rokker
        li
          a(href="product-rokker.html") Rokker R200
        li
          a(href="product-rokker-r500.html") Rokker R500
        li
          a(href="standard-home.html") Диспоузеры Standard Home
        li
          a(href="product.html") Standard Home Model M
        li
          a(href="product-standard-home-xl.html") Standard Home Model XL
        li
          a(href="product-kitchen-crush.html") Kitchen Crush

    .footer__col
      h4.footer__title
        a(href="service.html") Сервис и Услуги
      ul.footer__menu
        li
          a(href="install.html") Установка
        li
          a(href="delivery.html") Доставка
        li
          a(href="warranty.html") Гарантия
        li
          a(href="service-centers.html") Сервисные центры

    .footer__col
      h4.footer__title
        a(href="about.html") О компании
      ul.footer__menu
        li
          a(href="contact.html") Контакты
        li
          a(href="blog.html") Блог
        li
          a(href="dealer.html") Дилерская программа
        li
          a(href="vacancy.html") Вакансии

    .footer__col
      h4.footer__title
        a(href="useful.html") Полезная информация
      ul.footer__menu
        li
          a(href="faq.html") FAQ
        li
          a(href="corporative-clients.html") Корпоративным клиентам