footer.footer
  .container
    .footer__col
      h4.footer__title Оставаться в курсе событий
      p Новости и проекты

      ul.social.footer__social
        li
          a(href="https://facebook.com", target="_blank")
            +icon('fb', 'social__icon')
        li
          a(href="https://vk.com", target="_blank")
            +icon('vk', 'social__icon')
        li
          a(href="https://instagram.com", target="_blank")
            +icon('insta', 'social__icon')

    .footer__col
      h4.footer__title Меню
      ul.footer__menu
        li
          a(href="#") Продукция
        li
          a(href="#") Сервис и Услуги
        li
          a(href="#") О нас
        li
          a(href="#") Дилерская программа

    .footer__col
      h4.footer__title Связаться
      ul.footer__menu
        li
          a(href="#") Контактная информация
        li
          a(href="#") Лицензии и патенты
        li
          a(href="#") Закупка и логистика

    .footer__col
      h4.footer__title Принято
      p Standard-home
