footer.footer
  .container
    .footer__col
      h4.footer__title Оставаться в курсе событий
      a(href="news.html") Новости и проекты

      ul.social.footer__social
        li
          a(href="https://www.facebook.com/kitchencrusher/", target="_blank")
            +icon('fb', 'social__icon')
        li
          a(href="https://www.instagram.com/standard_home.ru/", target="_blank")
            +icon('insta', 'social__icon')

    .footer__col
      h4.footer__title Меню
      ul.footer__menu
        li
          a(href="products.html") Продукция
        li
          a(href="service.html") Сервис и Услуги
        li
          a(href="about.html") О нас
        li
          a(href="contact.html") Контакты

    .footer__col
      h4.footer__title Связаться
      ul.footer__menu
        li
          a(href="#") Контактная информация
        li
          a(href="#") Лицензии и патенты
        li
          a(href="#") Закупка и логистика

    .footer__col
      h4.footer__title Принято
      p Standard-home
