section(style="background-image: url(static/images/content/hero-2.jpg)").hero.hero--page
  .container
    .hero__content
      h1.hero__title Сервис и услуги
      p На работе, дома или в автомобиле — технологии Standard <br>упрощают нашу повседневную жизнь