section.p50
  .container
    .row
      .col-lg-6
        .info-card.info-card--services
          .info-card__content.info-card__content--bg-gray
            h3.info-card__title Установка
            p Здесь вы можете найти инструкцию по эксплуатации для своего прибора Electrolux. Пожалуйста, используйте Мастер по устранению неисправностей, если у вас возникла проблема с прибором. Запасные части и аксессуары для ваших приборов Electrolux, вы можете найти или заказать в нашем интернет-магазине.
            a(href="install.html").btn-flat.btn-flat--sm
              +icon('arrow-right-2', 'btn-flat__icon')
          .info-card__img-wrap
            img(src="static/images/content/info-card-4.jpg", alt="")
      .col-lg-6
        .info-card.info-card--services
          .info-card__content
            h3.info-card__title Гарантия
            p Здесь вы можете найти инструкцию по эксплуатации для своего прибора Electrolux. Пожалуйста, используйте Мастер по устранению неисправностей, если у вас возникла проблема с прибором. Запасные части и аксессуары для ваших приборов Electrolux, вы можете найти или заказать в нашем интернет-магазине.
            a(href="warranty.html").btn-flat.btn-flat--white.btn-flat--sm
              +icon('arrow-right-2', 'btn-flat__icon')
      .col-lg-12
        .info-card.info-card--services.info-card--bg-img(style="background-image: url(static/images/content/info-card-5.jpg)")
          .info-card__content
            h3.info-card__title Сервисные центры
            p Найдите место для сервисного обслуживания <br>своего прибора Zanussi
            a(href="service-centers.html").btn-flat Смотреть весь список