section.pt0
  .container
    .text-box-list
      .text-box-list__item
        h4.text-box-list__title Haier на выставке «Мир Климата 2019»
        p С 4 по 7 марта в ЦВК «Экспоцентр» на Красной Пресне успешно прошла 15-я международная..
      .text-box-list__item
        h4.text-box-list__title Haier на выставке «Мир Климата 2019»
        p С 4 по 7 марта в ЦВК «Экспоцентр» на Красной Пресне успешно прошла 15-я международная..
      .text-box-list__item
        h4.text-box-list__title Haier на выставке «Мир Климата 2019»
        p С 4 по 7 марта в ЦВК «Экспоцентр» на Красной Пресне успешно прошла 15-я международная..
      .text-box-list__item
        h4.text-box-list__title Haier на выставке «Мир Климата 2019»
        p С 4 по 7 марта в ЦВК «Экспоцентр» на Красной Пресне успешно прошла 15-я международная..