section.docs
  .container
    h2.section-title Документы и чертежи

    .docs-list
      a(href="#").docs-list__item
        +icon('pdf', 'docs-list__icon')
        span.docs-list__title Технические <br>Характеристики
      a(href="#").docs-list__item
        +icon('pdf', 'docs-list__icon')
        span.docs-list__title Габариты <br>и размеры
      a(href="#").docs-list__item
        +icon('pdf', 'docs-list__icon')
        span.docs-list__title Технические <br>Характеристики
      a(href="#").docs-list__item
        +icon('pdf', 'docs-list__icon')
        span.docs-list__title Габариты <br>и размеры