section.product
  .container
    .row.mb50
      .col-md-6.col-xl-5
        .product__gallery
          .product-slider.swiper-container
            .swiper-wrapper
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/sh-xl/sh-xl-full-1.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/sh-xl/sh-xl-1.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/sh-xl/sh-xl-full-2.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/sh-xl/sh-xl-2.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/sh-xl/sh-xl-full-3.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/sh-xl/sh-xl-3.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/sh-xl/sh-xl-full-4.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/sh-xl/sh-xl-4.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/sh-xl/sh-xl-full-5.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/sh-xl/sh-xl-5.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/sh-xl/sh-xl-full-6.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/sh-xl/sh-xl-6.jpg", alt="")

          .product-thumb-slider.swiper-container
            .swiper-wrapper
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/sh-xl/sh-xl-sm-1.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/sh-xl/sh-xl-sm-2.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/sh-xl/sh-xl-sm-3.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/sh-xl/sh-xl-sm-4.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/sh-xl/sh-xl-sm-5.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/sh-xl/sh-xl-sm-6.jpg", alt="")

      .col-md-6.col-xl-5.offset-xl-1
        .product__summary
          h1.product__title Standard home
            span  model xl
          .product__short-descr
            p Собственная торговая марка магазина Standard Home. Оптимальное соотношение цены и качества, а также система шумоподавления обеспечивают любовь потребителей на всем постсоветском пространстве.

          .product__meta
            p.product__meta-item Скорость дробления:
              b 5,2 кг/м
            p.product__meta-item Мощность:
              b 750 Вт (1 л/с)
            p.product__meta-item Скорость вращения:
              b 3800 об/мин
            p.product__meta-item Объем камеры:
              b 1400 мл
            p.product__meta-item Материал корпуса:
              b PA6 (ударопрочная пластмасса)
            p.product__meta-item Материал (камера, дробящее кольцо):
              b нержавеющая сталь
            p.product__meta-item Вес:
              b 7.5 Кг

          a(href="order.html").btn.product__btn.product-order_open Заказать сейчас

    //- .product-descr
    //-   h3.product-descr__title Standard home
    //-   .product-descr__content
    //-     p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры. Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры
    //-     p Мы разрабатываем инновационные решения, которые обеспечивают новые возможности для мобильности. Для личных или коммерческих втомобилей, мультимодальных транспортных услуг, управления автопарком или интеллектуальной транспортной инфраструктуры

    .product-tabs
      ul.product-tabs__list
        li
          a(href="#tech")  Технические характеристики
        li
          a(href="#functions") Функции
        li
          a(href="#equipment") Комплектация
        li
          a(href="#dimensions") Габариты

      .product-tabs__item#tech
        h4.product-tabs__title Технические характеристики XL
        table
          tr
            th Мощность
            td 1 (л/с)
          tr
            th Скорость вращения
            td 3800 (об/мин)
          tr
            th Диаметр сливного отверстия в раковине
            td 90 (мм)
          tr
            th Шум
            td <50 (дБ)
          tr
            th Объем камеры
            td 1400 (мл)
          tr
            th Мощность дробления
            td 5,2 (кг/м)
          tr
            th Размер перемолотых частиц
            td > 1.0 (мм)
          tr
            th Камера
            td Нержавеющая сталь 08Х18Н10
          tr
            th Переходник от раковины
            td Нержавеющая сталь 08Х18Н11
          tr
            th Лезвия
            td Нержавеющая сталь 08Х18Н12
          tr
            th Дробящее кольцо
            td Нержавеющая сталь 08Х18Н13
          tr
            th Материал корпуса
            td PA6 (ударопрочная пластмасса)
          tr
            th Управление
            td Пневмокнопка/ П/У
          tr
            th Вес (нетто)
            td 7.5 (Кг)
          tr
            th Размеры в упаковке
            td 335x255x305

      .product-tabs__item#functions
        h4.product-tabs__title Функции
        ul
          li Технология двойного измельчения
          li Измельчение отходов до частиц диаметром 1 мм (в 5 раз меньше зерна риса) позволит забыть о услугах сантехника навсегда
          li На 30% тише конкурентов
          li Технология подавления шума Ultra-Silence - надежная защита от шума при работе индукционного мотора мощностью 0,75 - 1 л.с. даже при переработке мясных, куриных и рыбных костей.
          li Защита от перегрузки
          li Автоматическая система защиты от перегрузки. Диспоузер автоматически выключится если вы случайно оставите его работать или произойдет скачок напряжения в доме.

      .product-tabs__item#equipment
        h4.product-tabs__title Комплектация

        .bundle
          .bundle__img-wrap
            img(src="static/images/content/crasher-bundle.png", alt="")
            .bundle__circle

          .bundle__bundle
            .bundle__bundle-top
              img(src="static/images/content/bundle.png", alt="")
            .bundle__bundle-botom
              ol.bundle-list
                li Комплект пневмовыключателя (кнопка белая и хромированная)
                li Фильтрующая сетка с резиновой пробкой
                li Крепежный узел к мойке с резиновым экраном
                li Сливная трубка с пружинным хомутом

      .product-tabs__item#dimensions
        h4.product-tabs__title Габариты XL
        img(src="static/images/content/drawing-2.jpg")