section.faq
  .container
    span.blog__line
    h2.section-title Часто задаваемые вопросы

    .faq-list
      .faq-list__item.active
        h3.faq-list__title Что такое комплаенс?
        .faq-list__content
          p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям, положениям Кодекса делового поведения и всем релевантным директивам и стандартам (Требования комплаенс).
      .faq-list__item
        h3.faq-list__title Что делать, если нарушено какое-либо требование комплаенс?
        .faq-list__content
          p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям, положениям Кодекса делового поведения и всем релевантным директивам и стандартам (Требования комплаенс).
      .faq-list__item
        h3.faq-list__title Кто может сообщать о нарушениях требований комплаенс?
        .faq-list__content
          p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям, положениям Кодекса делового поведения и всем релевантным директивам и стандартам (Требования комплаенс).
      .faq-list__item
        h3.faq-list__title О каких нарушениях следует сообщать?
        .faq-list__content
          p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям, положениям Кодекса делового поведения и всем релевантным директивам и стандартам (Требования комплаенс).
      .faq-list__item
        h3.faq-list__title Что делать, если нарушено какое-либо требование комплаенс?
        .faq-list__content
          p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям, положениям Кодекса делового поведения и всем релевантным директивам и стандартам (Требования комплаенс).
      .faq-list__item
        h3.faq-list__title Кто может сообщать о нарушениях требований комплаенс?
        .faq-list__content
          p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям, положениям Кодекса делового поведения и всем релевантным директивам и стандартам (Требования комплаенс).
      .faq-list__item
        h3.faq-list__title О каких нарушениях следует сообщать?
        .faq-list__content
          p Комплаенс означает соблюдение требований закона и внутренних правил компании. Другими словами, вся деятельность группы компаний Bosch и ее сотрудников должна соответствовать всем законодательным требованиям, положениям Кодекса делового поведения и всем релевантным директивам и стандартам (Требования комплаенс).