section.delivery
  .container
    h2.section-title Способы доставки
    .delivery__wrap
      .row
        .col-lg-6
          ul.delivery__box-list
            li
              .delivery__box-list-icon
                +icon('arrow-right-2')
              span Самовывоз
            li
              .delivery__box-list-icon
                +icon('arrow-right-2')
              span Доставка по Москве и МО
            li
              .delivery__box-list-icon
                +icon('arrow-right-2')
              span Доставка по России и СНГ
        .col-lg-6
          .delivery__content
            ol.delivery__list
              li.delivery__list-item.active
                h4.delivery__list-title Приобретенная техника InSinkErator по Москве и Московской области доставляется ежедневно.
                .delivery__list-content
                  p Стоимость доставки от 5000 руб.: Бесплатно по г. Москва <br>и МО в пределах 20 км.
                  p Время работы службы доставки: с 07.30 до 22 часов без выходных.
                  p Срок доставки: 1-2 дня
              li.delivery__list-item
                h4.delivery__list-title Доставка за пределы МКАД в Москву и Московскую область:
                .delivery__list-content
                  p - 40 руб. за 1 км. после 20 км.
              li.delivery__list-item
                h4.delivery__list-title Подъем техники на этаж выполняется бесплатно независимо от наличия грузового лифта.
              li.delivery__list-item
                h4.delivery__list-title Занос в квартиру и перемещение техники по квартире выполняются бесплатно.