section.payments
  .container
    h2.section-title Способы оплаты

    .payments-list
      .payments-list__item
        span.payments-list__number 1
        h3.payments-list__title Наличный расчет
        p Оплата наличными и картами
      .payments-list__item
        span.payments-list__number 2
        h3.payments-list__title Банковская  карта
        p Принимаем оплату картами
      .payments-list__item
        span.payments-list__number 3
        h3.payments-list__title Безналичный расчет
        p Возможен с юр. лицами и физ. лицами

    section.payment-method
      .container
        .row.align-items-center.justify-content-center.justify-content-lg-start
          .col-sm-6.col-md-4.col-lg-2.offset-lg-1
            img(src="static/images/content/visa.svg", width="150")
          .col-sm-6.col-md-4.col-lg-2
            img(src="static/images/content/mastercard.svg", width="80")
          .col-sm-6.col-md-4.col-lg-2
            img(src="static/images/content/qiwi.svg", width="150")
          .col-sm-6.col-md-4.col-lg-2
            img(src="static/images/content/yandex.svg", width="150")
          .col-sm-6.col-md-4.col-lg-2
            img(src="static/images/content/mir.svg", width="150")

    //-.text-box-list.text-box-list--info
    //-  .text-box-list__item
    //-    h4.text-box-list__title Наличный расчет.
    //-    p Оплата наличными при доставке.
    //-  .text-box-list__item
    //-    h4.text-box-list__title Кредит
    //-    p Для оформления кредита добавьте товар в корзину. Далее перейдите к оформлению заказа. После заполнения контактной информации в способах оплаты Вы увидите значок.
    //-  .text-box-list__item
    //-    h4.text-box-list__title Безналичный расчет.
    //-    p Безналичный расчет возможен как с юридическими, так и с физическими лицами. Мы высылаем счет по электронной почте.
    //-  .text-box-list__item
    //-    h4.text-box-list__title Оплата через банковский терминал курьеру.
    //-    p при получении Вашего заказа в Москве и МО.