section.payments
  .container
    h2.section-title Способы оплаты

    .payments-list
      .payments-list__item
        span.payments-list__number 1
        h3.payments-list__title Наличный расчет
        p Оплата наличными и картами
      .payments-list__item
        span.payments-list__number 2
        h3.payments-list__title Банковская  карта
        p Принимаем оплату картами
      .payments-list__item
        span.payments-list__number 3
        h3.payments-list__title Безналичный расчет
        p Возможен с юр. лицами и физ. лицами