// Colors
$main-color: #555
$accent: #b8d53d

$logo-descr: #777777
$title-link-color: #222
$link-color: #71AB04
$light-accent-color: #B6F03E
$bd-color: #D5D5D5
$bg-color: #F5F5F5
$bg-green-color: #BBF04D
$input-color: #464646
$video-btn-color: #94D212
$step-accent-color: #98CD29


// Fonts
$main-font: 'Roboto', Arial, sans-serif

// Bootstrap
$grid-columns: 12
$grid-gutter-width: 30px
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px)

// Media Queries
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx)