section.product
  .container
    .breadcrumb
      a(href="./") Главная
      a(href="products.html") Продукция
      a(href="rokker.html") Диспоузеры Rokker
      span Rokker R200

    h1.product__title Rokker
      span R200

    .row.mb50
      .col-md-6.col-xl-5
        .product__gallery
          .product-slider.swiper-container
            .swiper-wrapper
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-rokker-full-7.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-rokker-7.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-rokker-full-8.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-rokker-8.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-rokker-full-9.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-rokker-9.jpg", alt="")
              .product-slider__item.swiper-slide
                a(href="static/images/content/gallery/product-rokker-full-10.jpg", data-fancybox="gallery").product-slider__link
                  img(src="static/images/content/gallery/product-rokker-10.jpg", alt="")

          .product-thumb-slider.swiper-container
            .swiper-wrapper
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/product-rokker-sm-7.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/product-rokker-sm-8.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/product-rokker-sm-9.jpg", alt="")
              .product-thumb-slider__item.swiper-slide
                img(src="static/images/content/gallery/product-rokker-sm-10.jpg", alt="")

      .col-md-6.col-xl-5.offset-xl-1
        .product__summary
          h1.product__title Rokker
            span R200
          .product__short-descr
            p Сингапурский бренд премиальных диспоузеров, существующий с 1993 года. Интеллектуальные технологии работы, включающие реверсный механизм, систему защиты от попадания посторонних предметов, специальные сплавы для режущих частей и уникальный дизайн – вот что такое ROKKER.

          .product__meta
            p.product__meta-item Скорость дробления:
              b  5.6 кг/мин
            p.product__meta-item Жесткая подводка коммуникаций
            p.product__meta-item Мощность:
              b  500 Вт
            p.product__meta-item Скорость вращения:
              b  1450 об/мин
            p.product__meta-item Объем камеры:
              b  900 мл
            p.product__meta-item Материал корпуса:
              b  ударопрочный пластик РА6
            p.product__meta-item Гарантия:
              b  10 лет

          a(href="#").btn.product__btn.product-order_open Заказать сейчас

    .product-tabs
      ul.product-tabs__list
        li
          a(href="#tech")  Технические характеристики
        li
          a(href="#functions") Функции
        li
          a(href="#equipment") Комплектация
        li
          a(href="#dimensions") Габариты

      .product-tabs__item#tech
        h4.product-tabs__title Технические характеристики R200
        table
          tr
            th Скорость дробления
            td 5.6 кг/мин
          tr
            th Жесткая подводка коммуникаций
            td 
          tr
            th Мощность
            td 500 Вт
          tr
            th Скорость вращения
            td 1450 об/мин
          tr
            th Объем камеры
            td 900 (мл)
          tr
            th Материал корпуса
            td ударопрочный пластик РА6
          tr
            th Материал (камера, дробящее кольцо)
            td нержавеющая сталь
          tr
            th Тип мотора
            td индукционный
          tr
            th Система дробления
            td 3-уровневая
          tr
            th Вес (нетто)
            td 7.8 (Кг)
          tr
            th Гарантия
            td 10 лет
          tr
            th Комплект поставки
            td диспоузер, комплект для подключения, пневмокнопка, проталкиватель, инструкция, гарантия

      .product-tabs__item#functions
        h4.product-tabs__title Функции (едины для R100 и для R200):
        ul
          li Технологии подавления шума
            p 48 Дб - максимальный шум, который может издавать ROKKER. Это тише посудомоечной машины
          li Реверсивный механизм
            p Режущие части внутри диспоузера поочередно вращаются по и против часовой стрелки. Ни одна кость не застрянет внутри и не повредит механизм
          li Защита от посторонних предметов
            p Благодаря магнитному датчику ROKKER останавливает механизм при случайном попадании внутрь ложки, ножа, вилки и других столовых приборов

      .product-tabs__item#equipment
        h4.product-tabs__title Комплектация

        .bundle
          .bundle__img-wrap
            img(src="static/images/content/crasher-bundle.png", alt="")
            .bundle__circle

          .bundle__bundle
            .bundle__bundle-top
              img(src="static/images/content/bundle.png", alt="")
            .bundle__bundle-botom
              ol.bundle-list
                li Комплект пневмовыключателя (кнопка белая и хромированная)
                li Фильтрующая сетка с резиновой пробкой
                li Крепежный узел к мойке с резиновым экраном
                li Сливная трубка с пружинным хомутом

      .product-tabs__item#dimensions
        h4.product-tabs__title Габариты
        img(src="static/images/content/drawing-2.jpg")