#product-order.modal
  button(type="button").product-order_close.modal__close Close
    span.modal__close-line

  h3.modal__title Заказ товара

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Заказ товара")
    input(type="hidden", name="product_name", value="")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      input(type="submit", value="Заказать").btn

#callback.modal
  button(type="button").callback_close.modal__close Close
    span.modal__close-line

  h3.modal__title Обратный звнок

  form.ajax-form.modal__form
    input(type="hidden", name="subject", value="Обратный звнок")
    .form-group
      input(type="text", name="name", placeholder="Ваше имя", required).form-field
    .form-group
      input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
    .form-group
      input(type="submit", value="Отправить").btn

#thanks.modal
  button(type="button").thanks_close.modal__close Close
    span.modal__close-line

  h3.modal__title Спасибо за заказ
  p Скоро мы Вам перезвоним!