section.s-advantages.s-advantages--bg
  .container
    h2.section-title Сделай свою кухню ультрасовременной

    .advantages-list-media
      .advantages-list-media__item
        .advantages-list-media__col
          .advantages-list-media__content
            h3.advantages-list-media__title ECO STANDART. Забота об экологии
            p Более 50 лет в Америке и Европе измельчитель пищевых отходов является незаменимым помощником на кухне для современных людей
        .advantages-list-media__col
          .advantages-list-media__img-wrap
            img(src="static/images/content/advantages-media-1.jpg", alt="")
      .advantages-list-media__item
        .advantages-list-media__col
          .advantages-list-media__content
            h3.advantages-list-media__title Увропейский стандарьт качества
            p Диспоузеры Standard Home изготавливаются в <br>соответствии с самыми строгими нормами безопасности, а <br>так же сертифицированы по стандартам EAC, ISO, CA
        .advantages-list-media__col
          .advantages-list-media__img-wrap
            img(src="static/images/content/advantages-media-2.jpg", alt="")
      .advantages-list-media__item
        .advantages-list-media__col
          .advantages-list-media__content
            h3.advantages-list-media__title Скорость работы - ключевой для нас принцип
            p Наши мастера всегда на готове и готовы выехать к клиенту в течение 1 часа
        .advantages-list-media__col
          .advantages-list-media__img-wrap
            img(src="static/images/content/advantages-media-3.jpg", alt="")