section.s-advantages
  .container
    h2.section-title Почему именно Standard Home

    .advantages-list
      .advantages-list__item
        .advantages-list__content
          h3.advantages-list__title Гарантия возврата денег
          p Вас не устроила работа измельчителя? Что-то пошло не так? В течение двух недель вы можете вернуть нам измельчитель без объяснения причин

        .advantages-list__img-wrap.text-center
          //- img(src="static/images/content/silent.svg", alt="")

      .advantages-list__item
        .advantages-list__content
          h3.advantages-list__title Быстрая установка
          p Установка измельчителя Standard Home занимает не более 25-30 мин, после чего вы сразу же можете пользоваться вашей обновленной кухней. Наш мастер приберет за собой.

        .advantages-list__img-wrap
          //- img(src="static/images/content/obstruction.svg", alt="")

      .advantages-list__item
        .advantages-list__content
          h3.advantages-list__title Опыт работы <br>с любыми кухнями

          p У вас дорогая каменная столешница? Подключена посудомоечная машина?
          p Нет розетки под мойкой? 
          p Мы работали с этим и знаем что делать

        .advantages-list__img-wrap.text-center
          //- img(src="static/images/content/2x.svg", alt="")

      .advantages-list__item
        .advantages-list__content
          h3.advantages-list__title Технология двойного измельчения

          p Установка измельчителя Standard Home занимает не более 25-30 мин

        .advantages-list__img-wrap
          img(src="static/images/content/2x.svg", alt="")

      .advantages-list__item
        .advantages-list__content
          h3.advantages-list__title На 30% тише конкурентов
          p Технология подавления шума Ultra-Silence - надежная защита от шума при работе индукционного мотора мощностью 0,75 - 1 л.с. даже при переработке мясных, куриных и рыбных костей.

        .advantages-list__img-wrap.text-center
          img(src="static/images/content/silent.svg", alt="")

      .advantages-list__item
        .advantages-list__content
          h3.advantages-list__title Защита от перегрузки
          p Автоматическая система защиты от перегрузки. Диспоузер автоматически выключится если вы случайно оставите его работать или произойдет скачок напряжения в доме.

        .advantages-list__img-wrap
          //- img(src="static/images/content/box-card-1.jpg", alt="")

    button(type="button").s-advantages__btn
      +icon('arrow-down', 's-advantages__btn-arrow')