section.hero(style="background-image: url(static/images/content/hero-1.jpg)")
  .container
    .row
      .col-lg-7
        .hero__content
          h1.hero__title Как навсегда избавиться <br>от пищевых отходов, неприятного запаха и засоров в канализации?

          p Измельчители пищевых отходов Stabdard Home за <span>15 900 руб.</span> + доставим сегодня <span>и установим за 30 мин. - бесплатно.</span>

      .col-lg-5.col-xl-4.offset-xl-1
        form.hero__form
          .hero__form-content
            h3 Выбираете измельчитель пищевых отходов?
            p Получить подробную консультацию специалиста прямо сейчас
            a(href="tel:+74951203480") +7 (495) 120-34-80
          .form-group
            input(type="text", name="name", placeholder="Ваше имя", required).form-field
          .form-group
            input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
          .form-group.form-group--btn
            input(type="submit", value="Заказать звонок").btn