section(style="background-image: url(static/images/content/hero-2.jpg)").hero.hero--main
  .container
    .hero__content.text-center
      h1.hero__title Магазин кухонных змельчителей <br>Standard Home
      p Современные решения <span>для вашей кухни</span>