section.how-work
  .container
    h2.section-title Как работает кухонный измельчитель?

    .row
      .col-lg-6
        .video
          a(href="https://youtu.be/of1_FqU-fHs").video__link
          button(type="button", aria-label="Запустить видео").video__button
            +icon('play', 'video__button-icon')

      .col-lg-6
        .how-work-steps
          .how-work-steps__item
            .how-work-steps__content
              
              h3.how-work-steps__title
                span.how-work-steps__step Шаг 1.
                |  Смахните остатки еды с тарелки в раковину
              p Просто включите кран холодной воды и сбросьте отходы в раковину, прямо в сливное отверствие диспоузера
            img(src="static/images/content/how-work-1.jpg", alt="Шаг 1")
          .how-work-steps__item
            .how-work-steps__content
              
              h3.how-work-steps__title
                span.how-work-steps__step Шаг 2.
                |  Нажмите на кнопку
              p В комплекте с диспоузером идет пневмокнопка, которая монтируется в столешницу или кнопка дистанционного управления, которую можно повесить в любое место на кухне
                span  Диспоузер измельчит
            img(src="static/images/content/how-work-3.jpg", alt="Шаг 2")
          .how-work-steps__item
            .how-work-steps__content
              
              h3.how-work-steps__title
                span.how-work-steps__step Шаг 3.
                |  Измельченные остатки пищи уйдут прямо в канализацию
              p Диспоузер соединен с водопроводом в вашем доме и измельченные частицы пищи, диаметром в 5 раз менше зерна риса, смоются вместе с водой
            img(src="static/images/content/how-work-2.jpg", alt="Шаг 3")