section.how-work
  .container
    h2.section-title Как работает измельчитель пищевых отходов?

    .row
      .col-lg-6
        .video
          a(href="https://youtu.be/of1_FqU-fHs").video__link
          button(type="button", aria-label="Запустить видео").video__button
            +icon('play', 'video__button-icon')

      .col-lg-6
        .how-work-steps
          .how-work-steps__item
            .how-work-steps__content
              
              h3.how-work-steps__title
                span.how-work-steps__step Шаг 1.
                |  Осталось много органических отходов на кухне?
              p Не тратьте время на уборку, распределение и переработку.
                span  Смахните в раковину
            img(src="static/images/content/how-work-1.jpg", alt="Шаг 1")
          .how-work-steps__item
            .how-work-steps__content
              
              h3.how-work-steps__title
                span.how-work-steps__step Шаг 2.
                |  Смахните остатки в раковину
              p Просто включите кран холодной воды, сбросьте отходы в раковину и направьте их в сливное отверстие диспоузера.
                span  Нажмите на кнопку
            img(src="static/images/content/how-work-2.jpg", alt="Шаг 2")
          .how-work-steps__item
            .how-work-steps__content
              
              h3.how-work-steps__title
                span.how-work-steps__step Шаг 3.
                |  Диспоузер (Измельчитель) измельчит все отходы
              p Затем включите измельчитель, который мгновенно перемелет остатки пищи и смоет их в канализацию.
                span  Диспоузер измельчит
            img(src="static/images/content/how-work-3.jpg", alt="Шаг 3")