section.p50
  .container
    .row
      .col-lg-6
        .info-card
          .info-card__content.info-card__content--bg-gray
            h3.info-card__title Карьера у нас
            p STANDARD HOME предоставляет своим сотрудникам прекрасные возможности для профессионального развития и карьерного роста, отличные условия труда и конкурентоспособное вознаграждение.
            a(href="vacancy.html").btn-flat Подробнее
          .info-card__img-wrap
            img(src="static/images/content/info-card-1.jpg", alt="")
      .col-lg-6
        .info-card
          .info-card__content
            h3.info-card__title Дилерская программа
            p Нашим дилером может стать любой участник рынка систем водоснабжения и сантехники, насосного оборудования – организация или частный предприниматель, осуществляющие регулярные закупки оборудования в компании STANDARD HOME.
            a(href="dealer.html").btn-flat.btn-flat--white Подробнее
      .col-lg-12
        .info-card
          .info-card__img-wrap
            img(src="static/images/content/info-card-2.jpg", alt="")
          .info-card__content
            h3.info-card__title Информационная поддержка и консультации
            p Владение актуальной информацией о товаре, его цене и наличии с помощью наших опытных и квалифицированных специалистов.
            a(href="service-centers.html").btn-flat.btn-flat--white Подробнее
          .info-card__img-wrap
            img(src="static/images/content/info-card-3.jpg", alt="")