section.numbers
  .container
    h2.section-title Мы в цифрах

    .row
      .col-lg-4
        .count
          b.count__number > 3 000
          span.count__label клиентов
          p Более 3 000 клиентов по всей России и СНГ: <br> от Магадана до Таллина
      .col-lg-4
        .count
          b.count__number 27
          span.count__label партнеров
          p 15 партнеров в России <br>и 12 на постсоветском пространстве
      .col-lg-4
        .count
          b.count__number 1 570 000
          span.count__label кг отходов
          p 1 570 000 кг биологических отходов переработано за 7 лет существования Standard Home