section.s-order
  .container
    .s-order__wrap
      h2.section-title Оффер заказ

      form.ajax-form.s-order__form
        input(type="hidden", name="subject", value="Заявка с сайта")
        .row
          .col-md-4
            .form-group
              input(type="text", name="name", placeholder="Ваше имя", required).form-field
          .col-md-4
            .form-group
              input(type="tel", name="phone", placeholder="Ваш телефон", required).form-field
          .col-md-4
            .form-group
              input(type="submit", value="Отправить").btn

      .s-order-advantages
        .s-order-advantages__item
          h3.s-order-advantages__title Выездной сервис <br>24 часа
          p Мы производим доставку на собственном современном транспорте
        .s-order-advantages__item
          h3.s-order-advantages__title Установим <br>за 30 минут
          p Мы производим доставку на собственном современном транспорте
        .s-order-advantages__item
          h3.s-order-advantages__title Гарантийное обслуживание
          p Мы производим доставку на собственном современном транспорте
        .s-order-advantages__item
          h3.s-order-advantages__title Доставим <br>в течении часа
          p Мы производим доставку на собственном современном транспорте