section.problem
  .container
    h2.section-title Облако проблем

    .problem-list
      .problem-list__item.problem-list__item--100.problem-list__item--img
        img(src="static/images/content/problem-1.jpg", alt="")
        .problem-list__content
          h3.problem-list__title Недостаток производительности
          p Предположим, что в очереди скопилось большое количество заявок от пользователей на выполнение различных операций.
      .problem-list__item.problem-list__item--50
        .problem-list__content
          h3.problem-list__title Недостаток производительности
          p Предположим, что в очереди скопилось большое количество заявок от пользователей на выполнение различных операций.
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-3.jpg", alt="")
        .problem-list__content
          h3.problem-list__title Недостаток производительности
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-5.jpg", alt="")
        .problem-list__content
          h3.problem-list__title Недостаток производительности
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-4.jpg", alt="")
        .problem-list__content
          h3.problem-list__title Недостаток производительности
      .problem-list__item
        .problem-list__content
          h3.problem-list__title Недостаток производительности
      .problem-list__item.problem-list__item--50.problem-list__item--img
        img(src="static/images/content/problem-2.jpg", alt="")
        .problem-list__content
          h3.problem-list__title Недостаток производительности
          p Предположим, что в очереди скопилось большое количество заявок от пользователей на выполнение различных операций.
      .problem-list__item
        .problem-list__content
          h3.problem-list__title Недостаток производительности
      .problem-list__item.problem-list__item--img
        img(src="static/images/content/problem-6.jpg", alt="")
        .problem-list__content
          h3.problem-list__title Недостаток производительности