section.product-for
  .container
    .row
      .col-lg-7
        h2.section-title Для дома
        .row
          .col-md-6
            .product-for__item
              a(href="standard-home.html")
                img(src="static/images/content/standart-home.png", alt="")
              a(href="standard-home.html").product-for__link Standard home
                +icon('arrow-right', 'product-for__link-icon')
          .col-md-6
            .product-for__item
              a(href="rokker.html")
                img(src="static/images/content/rokker.png", alt="")
              a(href="rokker.html").product-for__link Rokker
                +icon('arrow-right', 'product-for__link-icon')

      .col-lg-5
        h2.section-title Для бизнеса
        .product-for__item.product-for__item--bussiness
          a(href="product-kitchen-crush.html")
            img(src="static/images/content/kitchen-crush.png", alt="")
          a(href="product-kitchen-crush.html").product-for__link Kitchen crush
            +icon('arrow-right', 'product-for__link-icon')