section.speed
  .container
    .section-head
      h2.section-title За сколько времени перемалывает
      p На работе, дома или в автомобиле — технологии Standard <br>упрощают нашу повседневную жизнь

    .speed__wrap
      img(src="static/images/general/speed-crusher.png", alt="").speed__img
      .speed__left
        h3.speed__subtitle За сколько времени перемалывает?
        p.speed__descr Кухонный измельчитель Standard Home мгновенно удаляет все органические отходы, а так же препятствует возникновению засоров в канализации

        .speed__item.speed__item--fish
          .speed__img-wrap
            .speed__time
              .speed__time-circle
              span 5-10
              |  сек.
            img(src="static/images/content/speed-fish.jpg", width="170", height="100", alt="Рыбные кости")

          b Рыбные кости
          p Кухонный измельчитель Standard Home перемалывает рыбные кости за 5-10 секунд

      .speed__right
        .speed__item.speed__item--fruit
          .speed__img-wrap
            .speed__time
              .speed__time-circle
              span 2-5
              |  сек.

            img(src="static/images/content/speed-fruit.jpg", width="170", height="100", alt="Овощи и фрукты")

          b Овощи и фрукты
          p Кухонный измельчитель моментально справится с удалением кожуры и остатков овощей и фруктов

        .speed__item.speed__item--chicken
          .speed__img-wrap
            .speed__time
              .speed__time-circle
              span 10-15
              |  сек.

            img(src="static/images/content/speed-chicken.jpg", width="170", height="100", alt="Куриные и мясные остатки")

          b Куриные и мясные остатки
          p За 10-15 секунд кухонный измельчитель не оставит ни запаха, ни самих костей. Наслаждайтесь ужином