header.header
  .header__top
    .container
      a(href="./").logo.header__logo
        span.logo__head Standard Home
        p.logo__descr Кухонные измельчители

      .phone.header__phone
        .phone__item
          a(href="tel:+74951084961").phone__tel
            +icon('phone', 'phone__icon')
            | +7 495 108 49 61<br>

      .small-contact.header__small-contact
        .small-contact__item
          +icon('mail', 'small-contact__icon')
          a(href="mailto:info@standard-home.ru") info@standard-home.ru
        .small-contact__item
          +icon('location', 'small-contact__icon small-contact__icon--location')
          p 115035,Россия, Москва, <br>Раушская наб., 4/5, блок 3-15

      .header-callback
        a(href="#").btn.callback_open Обратный звонок
        ul.social.header__social
          li
            a(href="https://www.facebook.com/kitchencrusher/", target="_blank")
              +icon('fb', 'social__icon')
          li
            a(href="https://www.instagram.com/standard_home.ru/", target="_blank")
              +icon('insta', 'social__icon')

      button(type="button").nav-toggle
        span.nav-toggle__line

  .header__bottom
    .container
      nav.nav.header__nav
        button(type="button").btn-close
        ul.nav-list
          li
            a(href="./") Главная
          li.has-submenu
            a(href="products.html") Продукция
              span.nav-list__carret
            ul.sub-menu
              li.has-submenu
                a(href="rokker.html") Диспоузеры Rokker
                  span.nav-list__carret
                ul.sub-menu
                  li
                    a(href="product-rokker.html") Rokker R200
                  li
                    a(href="product-rokker-r500.html") Rokker R500
              li.has-submenu
                a(href="standard-home.html") Диспоузеры Standard Home
                  span.nav-list__carret
                ul.sub-menu
                  li
                    a(href="product.html") Standard Home Model M
                  li
                    a(href="product-standard-home-xl.html") Standard Home Model XL
              li
                a(href="product-kitchen-crush.html") Диспоузеры Kitchen Crush
              li
                a(href="products.html") Продукция
          li.has-submenu
            a(href="services.html") Сервис и Услуги
              span.nav-list__carret
            ul.sub-menu
              li
                a(href="install.html") Установка
              li
                a(href="delivery.html") Доставка
              li
                a(href="warranty.html") Гарантия
              li
                a(href="service-centers.html") Сервисные центры
              li
                a(href="services.html") Сервис и Услуги
          li.has-submenu
            a(href="about.html") О компании
              span.nav-list__carret
            ul.sub-menu
              li
                a(href="contact.html") Контакты
              li
                a(href="blog.html") Блог
              li
                a(href="dealer.html") Дилерская программа
              li
                a(href="vacancy.html") Вакансии
              li
                a(href="about.html") О компании
          li.has-submenu
            a(href="useful.html") Полезная информация
              span.nav-list__carret
            ul.sub-menu
              li
                a(href="faq.html") FAQ
              li
                a(href="useful.html") Полезная информация
          li
            a(href="corporative-clients.html") Корпоративным клиентам
        .header-search
          form(action="#")
            .form-group
              input(type="text", name="s", placeholder="Поиск", required).header-search__field
              button(type="submit").header-search__btn
                +icon('search', 'header-search__btn-icon')

        .phone.nav__phone
          .phone__item
            a(href="tel:+74951084961").phone__tel
              +icon('phone', 'phone__icon')
              | +7 495 108 49 61<br>
            a(href="#").phone__callback.callback_open Обратный звонок

        .small-contact.nav__small-contact
          .small-contact__item
            +icon('mail', 'small-contact__icon')
            a(href="mailto:info@standard-home.ru") info@standard-home.ru
          .small-contact__item
            +icon('location', 'small-contact__icon small-contact__icon--location')
            p 115035,Россия, Москва, <br>Раушская наб., 4/5, блок 3-15

        ul.social.nav__social
          li
            a(href="https://www.facebook.com/kitchencrusher/", target="_blank")
              +icon('fb', 'social__icon')
          li
            a(href="https://www.instagram.com/standard_home.ru/", target="_blank")
              +icon('insta', 'social__icon')